@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text&family=Gowun+Batang&family=Noto+Sans+KR:wght@100&family=Prompt:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

ul, ol {
  list-style: none; }

a {
  text-decoration: none; }

fieldset {
  border: none; }

input, a, select, option {
  outline: 0; }

.h {
  position: absolute;
  top: -9999px;
  opacity: 0; }

#header_sub {
  width: 100%;
  border-bottom: 1px solid #ddd;
  position: relative;
  z-index: 2; }
  #header_sub .inner {
    width: 1180px;
    height: 100px;
    margin: 0 auto;
    position: relative; }
    #header_sub .inner h1 {
      width: 20%;
      position: absolute;
      top: 23px;
      left: 0; }
      #header_sub .inner h1 a {
        display: block;
        width: 100%;
        height: 50px;
        font: bold 24px/50px 'Prompt';
        color: #000; }
    #header_sub .inner > .gnb {
      width: 65%;
      position: absolute;
      left: 20%; }
      #header_sub .inner > .gnb::after {
        content: '';
        display: block;
        clear: both; }
      #header_sub .inner > .gnb > li {
        float: left;
        width: 120px;
        height: 100px;
        text-align: center; }
        #header_sub .inner > .gnb > li a {
          font: bold 15px/100px 'Prompt';
          color: #222; }
        #header_sub .inner > .gnb > li .sub {
          width: 1180px;
          position: absolute;
          top: 101px;
          right: -177px;
          background: #fff;
          display: none;
          box-shadow: 0px 10px 10px -10px rgba(68, 68, 68, 0.5); }
          #header_sub .inner > .gnb > li .sub h2 {
            width: 200px;
            height: 320px;
            padding-top: 60px;
            float: left;
            font: 20px/1 'arial';
            color: #000;
            text-align: left; }
          #header_sub .inner > .gnb > li .sub .subli {
            width: 250px;
            height: 320px;
            padding: 40px 0px;
            float: left;
            position: relative; }
            #header_sub .inner > .gnb > li .sub .subli ul {
              display: inline-block;
              position: absolute;
              top: 40px;
              left: 30px; }
              #header_sub .inner > .gnb > li .sub .subli ul li {
                width: 100%;
                height: 50px;
                text-align: left; }
                #header_sub .inner > .gnb > li .sub .subli ul li a {
                  font: 18px/50px 'arial';
                  color: #000; }
            #header_sub .inner > .gnb > li .sub .subli::before {
              content: '';
              display: inline-block;
              width: 1px;
              height: 240px;
              background: #ddd;
              position: relative;
              left: -120px; }
          #header_sub .inner > .gnb > li .sub .subpic {
            width: 400px;
            height: 280px;
            padding: 40px 20px 0px;
            float: right; }
            #header_sub .inner > .gnb > li .sub .subpic img {
              width: 100%;
              height: 100%; }
          #header_sub .inner > .gnb > li .sub .subli2 {
            width: 250px;
            height: 320px;
            padding-top: 40px;
            float: right; }
            #header_sub .inner > .gnb > li .sub .subli2 ul li {
              width: 100%;
              height: 60px;
              text-align: left;
              border-top: 1px solid #ddd; }
              #header_sub .inner > .gnb > li .sub .subli2 ul li a {
                font: 20px/60px 'arial';
                color: #000; }
          #header_sub .inner > .gnb > li .sub::before {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: -100%;
            background: #fff;
            box-shadow: 0px 10px 10px -10px rgba(68, 68, 68, 0.5); }
          #header_sub .inner > .gnb > li .sub::after {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            right: -100%;
            background: #fff;
            box-shadow: 0px 10px 10px -10px rgba(68, 68, 68, 0.5); }
    #header_sub .inner > a {
      display: block;
      width: 8%;
      height: 28px;
      border: 1px solid #bbb;
      text-align: center;
      font: bold 12px/28px 'Prompt';
      color: #222;
      position: absolute;
      right: 0px;
      top: 50%;
      transform: translateY(-50%); }
    #header_sub .inner .btnCall {
      display: block;
      width: 30px;
      height: 16px;
      position: absolute;
      right: 0px;
      display: none; }
      #header_sub .inner .btnCall::before {
        content: '';
        display: block;
        width: 80%;
        height: 2px;
        background: #222;
        transition: 0.5s; }
      #header_sub .inner .btnCall span {
        display: block;
        width: 60%;
        height: 2px;
        background: #222;
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: -1px;
        text-indent: -9999px;
        transition: 0.5s; }
      #header_sub .inner .btnCall::after {
        content: '';
        display: block;
        width: 100%;
        height: 2px;
        background: #222;
        position: absolute;
        bottom: 0;
        left: 0; }
      #header_sub .inner .btnCall:hover::before {
        width: 100%; }
      #header_sub .inner .btnCall:hover span {
        width: 100%; }
    #header_sub .inner .menuMo {
      width: 80%;
      height: 100vh;
      background: #ddd;
      position: fixed;
      left: -80%;
      top: 0;
      z-index: 10;
      box-shadow: 5px 0px 10px -10px #000;
      transition: 1s; }
      #header_sub .inner .menuMo .txtbox {
        width: 100%;
        height: 280px;
        padding: 40px;
        background: #fff; }
        #header_sub .inner .menuMo .txtbox > a {
          display: block;
          width: 25px;
          height: 25px;
          position: relative;
          margin-bottom: 60px; }
          #header_sub .inner .menuMo .txtbox > a::before {
            content: '';
            display: block;
            width: 100%;
            height: 2px;
            background: #000;
            position: absolute;
            top: 50%;
            margin-top: -0.5px; }
          #header_sub .inner .menuMo .txtbox > a span {
            display: block;
            text-indent: -9999px; }
          #header_sub .inner .menuMo .txtbox > a::after {
            content: '';
            display: block;
            width: 100%;
            height: 2px;
            transform: rotate(-90deg);
            background: #000;
            position: absolute;
            top: 50%;
            margin-top: -0.5px;
            transition: 0.5s; }
          #header_sub .inner .menuMo .txtbox > a:hover::after {
            transform: rotate(0deg); }
        #header_sub .inner .menuMo .txtbox p {
          width: 250px;
          font: 16px/1.8 'arial';
          color: #000; }
          #header_sub .inner .menuMo .txtbox p a {
            font-size: 16px;
            color: #000;
            position: relative; }
            #header_sub .inner .menuMo .txtbox p a::after {
              content: '';
              display: block;
              width: 50px;
              height: 1px;
              background: #000;
              position: absolute;
              left: 0px;
              bottom: -2px; }
      #header_sub .inner .menuMo .gnbmo {
        background: #eee; }
        #header_sub .inner .menuMo .gnbmo li {
          width: 100%;
          padding: 20px 40px;
          border-bottom: 1px solid #ddd; }
          #header_sub .inner .menuMo .gnbmo li a {
            display: block;
            height: 40px;
            font: 15px/40px 'arial';
            color: #000; }
      #header_sub .inner .menuMo.on {
        left: 0; }

@media screen and (max-width: 1179px) {
  #header_sub .inner {
    width: 100%;
    height: 80px; }
    #header_sub .inner h1 {
      width: 50%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
      #header_sub .inner h1 a {
        height: 80px;
        line-height: 80px;
        text-align: center; }
    #header_sub .inner > .gnb {
      display: none; }
    #header_sub .inner > a {
      border: none;
      letter-spacing: 1px;
      color: #666;
      right: 30px; }
    #header_sub .inner .btnCall {
      left: 30px;
      display: block; } }
@media screen and (max-width: 539px) {
  #header_sub .inner > a {
    display: none; }
  #header_sub .inner .btnCall {
    left: 20px; } }
#footer_sub {
  width: 100%;
  background: #222; }
  #footer_sub .inner {
    width: 1180px;
    margin: 0 auto;
    padding: 40px 0px; }
    #footer_sub .inner .wrap {
      width: 100%;
      display: flex; }
      #footer_sub .inner .wrap article {
        margin-right: 60px; }
        #footer_sub .inner .wrap article h1 {
          font: 20px/1 'arial';
          color: #bbb;
          margin-bottom: 30px; }
        #footer_sub .inner .wrap article p {
          font: 15px/1.2 'arial';
          color: #888; }
        #footer_sub .inner .wrap article ul li {
          margin-bottom: 15px; }
          #footer_sub .inner .wrap article ul li a {
            font: 14px/1 'arial';
            color: #888; }
            #footer_sub .inner .wrap article ul li a:hover {
              font: 16px/1 'arial';
              color: #fff; }
        #footer_sub .inner .wrap article:nth-of-type(1) {
          flex: 2; }
        #footer_sub .inner .wrap article:nth-of-type(2) {
          flex: 1;
          margin-left: 20px; }
        #footer_sub .inner .wrap article:nth-of-type(3) {
          flex: 1; }
        #footer_sub .inner .wrap article:nth-of-type(4) {
          flex: 2.2;
          margin-right: 0px; }
          #footer_sub .inner .wrap article:nth-of-type(4) > p {
            margin-bottom: 20px; }
          #footer_sub .inner .wrap article:nth-of-type(4) input[type=text] {
            width: 180px;
            height: 35px;
            font: 12px/35px 'arial';
            padding: 0px 5px; }
          #footer_sub .inner .wrap article:nth-of-type(4) input[type=submit] {
            width: 100px;
            height: 35px;
            background-color: burlywood;
            border: none;
            font: 12px/35px 'arial';
            color: #000;
            cursor: pointer; }
    #footer_sub .inner > p {
      font: 14px/1 'arial';
      color: #444;
      margin-top: 80px; }
    #footer_sub .inner address {
      font: 14px/1.4 'arial';
      color: #444; }

@media screen and (max-width: 1179px) {
  #footer_sub {
    padding: 20px 20px; }
    #footer_sub .inner {
      width: 100%;
      padding: 0px; }
      #footer_sub .inner .wrap {
        display: inline-block; }
        #footer_sub .inner .wrap::after {
          content: '';
          display: block;
          clear: both; }
        #footer_sub .inner .wrap article {
          margin-right: 0px;
          float: left;
          width: 30%; }
          #footer_sub .inner .wrap article h1 {
            font-size: 18px; }
          #footer_sub .inner .wrap article p {
            font-size: 14px; }
          #footer_sub .inner .wrap article ul li {
            margin-bottom: 10px; }
          #footer_sub .inner .wrap article:nth-of-type(1) {
            margin-right: 30px; }
          #footer_sub .inner .wrap article:nth-of-type(2), #footer_sub .inner .wrap article:nth-of-type(3) {
            width: 25%;
            margin-right: 0px; }
          #footer_sub .inner .wrap article:nth-of-type(4) {
            width: 100%;
            margin-top: 40px; }
            #footer_sub .inner .wrap article:nth-of-type(4) > h1 {
              margin-bottom: 5px; }
            #footer_sub .inner .wrap article:nth-of-type(4) > p {
              margin-bottom: 20px;
              width: 100%; }
            #footer_sub .inner .wrap article:nth-of-type(4) input[type=text] {
              height: 30px;
              font: 12px/30px 'arial'; }
            #footer_sub .inner .wrap article:nth-of-type(4) input[type=submit] {
              width: 80px;
              height: 30px;
              font: 12px/30px 'arial'; }
      #footer_sub .inner > p {
        font-size: 12px;
        margin-top: 60px;
        padding-top: 10px;
        border-top: 1px solid #444; }
      #footer_sub .inner address {
        font-size: 12px; } }
@media screen and (max-width: 539px) {
  #footer_sub .inner .wrap article ul li {
    margin-bottom: 5px; }
  #footer_sub .inner .wrap article:nth-of-type(1) {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 50px; }
    #footer_sub .inner .wrap article:nth-of-type(1) h1 {
      margin-bottom: 5px; }
  #footer_sub .inner .wrap article:nth-of-type(2), #footer_sub .inner .wrap article:nth-of-type(3) {
    width: 50%;
    margin: 0px; }
    #footer_sub .inner .wrap article:nth-of-type(2) h1, #footer_sub .inner .wrap article:nth-of-type(3) h1 {
      margin-bottom: 10px; }
  #footer_sub .inner .wrap article:nth-of-type(4) input[type=text] {
    width: 66%;
    background-color: #eee;
    border: none; }
  #footer_sub .inner .wrap article:nth-of-type(4) input[type=submit] {
    width: 30%; }
  #footer_sub .inner > p {
    margin-bottom: 5px; } }
.content {
  width: 100%; }
  .content .sub_visual {
    width: 100%;
    height: 250px;
    background: pink; }
  .content .inner {
    width: 1180px;
    min-height: 500px;
    margin: 0 auto; }

.members {
  width: 100%;
  margin-bottom: 240px; }
  .members .inner {
    width: 1180px;
    min-height: 500px;
    margin: 0 auto;
    padding: 80px 0; }
    .members .inner h1 {
      font: 55px/1 'Crimson Text';
      color: #524C4A;
      text-align: center;
      margin-bottom: 120px; }
    .members .inner form fieldset {
      width: 80%;
      margin: 0 auto;
      margin-bottom: 80px; }
      .members .inner form fieldset .title {
        font: 30px/1 'Gowun Batang';
        color: #000;
        margin-bottom: 20px; }
      .members .inner form fieldset table {
        width: 100%;
        border-top: 1px solid #222;
        border-collapse: collapse; }
        .members .inner form fieldset table tr {
          width: 100%;
          height: 60px;
          border-bottom: 1px solid #eee; }
          .members .inner form fieldset table tr th {
            width: 20%;
            padding: 10px 0px 10px 40px;
            font: 18px/1 'Gowun Batang';
            color: #333;
            text-align: left;
            background-color: #f9f9f9; }
            .members .inner form fieldset table tr th i {
              color: pink;
              font-size: 0.5px; }
            .members .inner form fieldset table tr th label {
              font: 18px/1 'Gowun Batang';
              color: #333; }
          .members .inner form fieldset table tr td {
            width: 80%;
            padding: 12px; }
            .members .inner form fieldset table tr td input {
              width: 250px;
              height: 30px;
              padding-left: 10px;
              font: 14px/30px 'Gowun Batang';
              vertical-align: top; }
              .members .inner form fieldset table tr td input:focus {
                border: 1px solid burlywood; }
          .members .inner form fieldset table tr:nth-of-type(1) td input:nth-of-type(1), .members .inner form fieldset table tr:nth-of-type(5) td input:nth-of-type(1) {
            margin-right: 8px; }
          .members .inner form fieldset table tr:nth-of-type(1) td input:nth-of-type(2), .members .inner form fieldset table tr:nth-of-type(5) td input:nth-of-type(2) {
            font: 14px/30px 'Gowun Batang';
            width: 100px;
            vertical-align: middle;
            padding-left: 0px; }
          .members .inner form fieldset table tr:nth-of-type(5) td input:nth-of-type(3) {
            width: 500px;
            margin-top: 8px; }
          .members .inner form fieldset table tr:nth-of-type(8) td label {
            font: 18px/1 'Gowun Batang';
            margin-right: 20px; }
            .members .inner form fieldset table tr:nth-of-type(8) td label input {
              width: 15px;
              height: 20px;
              margin-right: 15px;
              vertical-align: top; }
    .members .inner form .add table tr:nth-of-type(1) td input {
      text-align: right; }
    .members .inner form .add table tr:nth-of-type(2) td select {
      width: 250px;
      height: 30px;
      text-align: center;
      font: 14px/28px 'Gowun Batang';
      color: #888; }
      .members .inner form .add table tr:nth-of-type(2) td select option {
        font: 14/1 'Gowun Batang';
        color: #000; }
    .members .inner form .add table tr:nth-of-type(3) td label {
      margin-right: 20px;
      font: 18px/1 'Gowun Batang'; }
      .members .inner form .add table tr:nth-of-type(3) td label input {
        width: 15px;
        height: 20px;
        margin-right: 15px;
        vertical-align: top; }
    .members .inner form .add table tr:nth-of-type(4) td input {
      width: 380px; }
    .members .inner form .agree {
      position: relative;
      height: 800px;
      margin-bottom: 150px; }
      .members .inner form .agree .title {
        display: block;
        width: 100%;
        border-bottom: 1px solid #222;
        padding-bottom: 20px; }
      .members .inner form .agree .join_box {
        padding: 40px; }
        .members .inner form .agree .join_box .ckbox1 {
          margin-bottom: 40px; }
          .members .inner form .agree .join_box .ckbox1 label {
            font: 20px/1 'Gowun Batang';
            color: #000; }
          .members .inner form .agree .join_box .ckbox1 input {
            width: 20px;
            height: 15px;
            margin-right: 20px; }
        .members .inner form .agree .join_box .ckbox2 p {
          font: 20px/1 'Gowun Batang';
          color: #2A2A2A;
          margin-bottom: 20px; }
        .members .inner form .agree .join_box .ckbox2 input {
          width: 20px;
          height: 15px;
          margin-right: 20px; }
        .members .inner form .agree .join_box .ckbox2 textarea {
          width: 100%;
          height: 140px;
          font: 16px/1.5 'Noto Sans KR';
          color: #666;
          padding: 0px 20px;
          margin-bottom: 40px; }
    .members .inner form .btns {
      width: 80%;
      margin: 0 auto;
      display: flex;
      justify-content: center; }
      .members .inner form .btns input[type=reset] {
        display: inline-block;
        width: 300px;
        height: 80px;
        border: 1px solid #524C4A;
        font: bold 20px/1 'Noto Sans KR';
        color: #505050;
        text-align: center;
        margin-right: 20px;
        cursor: pointer; }
      .members .inner form .btns input[type=submit] {
        width: 300px;
        height: 80px;
        background-color: #524C4A;
        font: bold 20px/1 'Noto Sans KR';
        color: #fff;
        border: none;
        cursor: pointer; }
    .members .inner form p {
      font: 14px/1px 'Gowun Batang';
      color: orangered;
      margin-top: 20px; }

.youtube .sub_visual {
  background: bisque; }
.youtube .inner {
  width: 1180px;
  margin: 100px auto; }
  .youtube .inner h1 {
    text-align: center;
    font: 40px/1 'arial';
    color: #000;
    margin-bottom: 100px; }
  .youtube .inner #vidgallery {
    width: 100%; }
    .youtube .inner #vidgallery article {
      width: 100%;
      margin-bottom: 150px;
      position: relative; }
      .youtube .inner #vidgallery article::after {
        content: '';
        display: block;
        clear: both; }
      .youtube .inner #vidgallery article a {
        display: block;
        float: right;
        width: 700px;
        height: 380px; }
        .youtube .inner #vidgallery article a img {
          width: 100%;
          height: 100%;
          object-fit: cover; }
      .youtube .inner #vidgallery article .con {
        width: 430px;
        display: block;
        float: left;
        position: relative;
        top: 150px;
        left: 30px;
        text-align: right; }
        .youtube .inner #vidgallery article .con h2 {
          font: 40px/1 'arial';
          color: #000;
          margin-bottom: 20px; }
        .youtube .inner #vidgallery article .con p {
          font: 20px/1.4 'arial';
          color: #000; }
      .youtube .inner #vidgallery article:nth-of-type(even) a {
        float: left; }
      .youtube .inner #vidgallery article:nth-of-type(even) .con {
        float: right;
        position: relative;
        left: -20px;
        text-align: left; }

.popVideo {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1000px;
  height: 500px; }
  .popVideo iframe {
    margin-bottom: 20px; }
  .popVideo span {
    display: block;
    width: 80px;
    height: 50px;
    border: 1px solid #000;
    background: #000;
    font: 20px/50px 'arial';
    color: #fff;
    cursor: pointer;
    position: absolute;
    top: 0px;
    right: -100px;
    text-align: center;
    border-radius: 40px; }

.gallery .sub_visual {
  background: #bbb; }
.gallery .inner {
  width: 1180px;
  margin: 100px auto; }
  .gallery .inner > h2 {
    text-align: center;
    font: 30px/1 'arial';
    color: #222;
    margin-bottom: 20px; }
  .gallery .inner > p {
    text-align: center;
    font: 18px/1 'arial';
    color: #666;
    margin-bottom: 100px; }
  .gallery .inner #gallery {
    width: 100%;
    position: relative; }
    .gallery .inner #gallery .loading {
      width: 80px;
      height: 80px;
      position: absolute;
      top: 100px;
      left: 50%;
      transform: translateX(-50%); }
      .gallery .inner #gallery .loading.off {
        opacity: 0; }
    .gallery .inner #gallery ul {
      width: 100%; }
      .gallery .inner #gallery ul::after {
        content: '';
        display: block;
        clear: both; }
      .gallery .inner #gallery ul li {
        width: 380px;
        margin-right: 20px;
        float: left;
        margin-bottom: 40px; }
        .gallery .inner #gallery ul li:nth-of-type(3n) {
          margin-right: 0px; }
        .gallery .inner #gallery ul li > div a {
          display: block;
          width: 100%;
          margin-bottom: 30px; }
          .gallery .inner #gallery ul li > div a .thumb {
            width: 100%; }
        .gallery .inner #gallery ul li > div p {
          font: bold 20px/1 'arial';
          color: #000;
          border-top: 2px solid #000;
          border-bottom: 2px solid #000;
          padding: 20px 0px 40px; }
        .gallery .inner #gallery ul li > div .profile {
          text-align: right; }
          .gallery .inner #gallery ul li > div .profile span {
            font: 15px/1 'arial';
            color: #000; }

.pop {
  width: 800px;
  height: 400px;
  background: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .pop img {
    width: 500px;
    height: 200px;
    object-fit: cover;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }
  .pop span {
    font: 40px/1 'arial';
    color: #fff;
    cursor: pointer;
    text-align: center;
    position: absolute;
    top: 30px;
    right: 40px; }

.location {
  background: #fff; }
  .location .inner {
    width: 1180px;
    margin: 0 auto;
    padding-bottom: 300px; }
    .location .inner .txt {
      width: 500px;
      padding-top: 100px;
      margin-bottom: 80px; }
      .location .inner .txt h1 {
        font: 40px/1 'arial';
        color: #000;
        margin-bottom: 20px; }
      .location .inner .txt p {
        font: 25px/1 'arial';
        color: #222; }
    .location .inner .wrap {
      width: 100%;
      border-bottom: 1px solid #555;
      margin-bottom: 120px;
      padding-bottom: 50px;
      display: flex;
      justify-content: flex-end; }
      .location .inner .wrap article {
        width: 400px;
        padding: 20px; }
        .location .inner .wrap article h3 {
          font-size: 20px;
          color: #000;
          margin-bottom: 20px; }
        .location .inner .wrap article ul li {
          font-size: 18px;
          color: #222; }
    .location .inner #map {
      width: 100%;
      height: 400px; }
    .location .inner .contact {
      width: 100%;
      margin-top: 120px;
      display: flex; }
      .location .inner .contact > .contacttxt {
        width: 40%;
        margin-right: 20px; }
        .location .inner .contact > .contacttxt h3 {
          font: 40px/1 'arial';
          color: #000;
          margin-bottom: 20px; }
        .location .inner .contact > .contacttxt p {
          font: 18px/1.2 'arial';
          color: #222; }
      .location .inner .contact > .form {
        width: 60%; }
        .location .inner .contact > .form ul {
          width: 100%; }
          .location .inner .contact > .form ul li {
            width: 48%;
            float: left;
            margin-right: 0px;
            margin-bottom: 20px; }
            .location .inner .contact > .form ul li input {
              width: 100%;
              height: 50px;
              border: 1px solid #ccc;
              padding: 14px 18px;
              font: 15px/50px 'arial';
              color: #000; }
            .location .inner .contact > .form ul li:nth-of-type(2) {
              margin-left: 4%; }
            .location .inner .contact > .form ul li:nth-of-type(3) {
              width: 100%; }
            .location .inner .contact > .form ul li:nth-of-type(4) {
              width: 100%; }
              .location .inner .contact > .form ul li:nth-of-type(4) textarea {
                width: 100%;
                height: 150px;
                border: 1px solid #ccc;
                padding: 14px 18px;
                font: 15px/1 'arial';
                color: #000;
                resize: none; }

.community {
  width: 100%; }
  .community .inner {
    width: 1180px;
    margin: 0 auto;
    margin-bottom: 200px; }
    .community .inner h1 {
      font: 50px/1 'arial';
      color: #000;
      text-align: center; }
    .community .inner p {
      font: 25px/1 '맑은 고딕';
      color: #222;
      text-align: center;
      margin-bottom: 80px; }
    .community .inner .box {
      margin-bottom: 80px; }
      .community .inner .box form {
        text-align: right;
        position: relative; }
        .community .inner .box form select {
          width: 120px;
          height: 50px;
          border: none;
          border-bottom: 2px solid #000;
          margin-right: 5px;
          font: 15px/50px 'arial';
          color: #000; }
        .community .inner .box form label i {
          font-size: 20px;
          position: relative;
          left: 20px;
          top: 5px; }
        .community .inner .box form label input {
          width: 360px;
          height: 50px;
          border: none;
          border-bottom: 2px solid #000;
          padding-left: 60px; }
    .community .inner .table {
      width: 100%;
      margin-bottom: 80px; }
      .community .inner .table table {
        width: 100%;
        border-top: 1px solid #222;
        border-collapse: collapse; }
        .community .inner .table table thead tr th {
          height: 50px;
          padding: 10px 30px;
          text-align: center;
          font: bold 18px/1 '맑은 고딕';
          color: #000;
          border-bottom: 1px solid #888; }
          .community .inner .table table thead tr th:nth-of-type(1) {
            width: 150px; }
          .community .inner .table table thead tr th:nth-of-type(2) {
            width: 600px;
            text-align: left; }
          .community .inner .table table thead tr th:nth-of-type(3), .community .inner .table table thead tr th:nth-of-type(4) {
            width: 200px; }
        .community .inner .table table tbody tr td {
          height: 100px;
          padding: 10px 30px;
          text-align: center;
          font: 20px/1 '맑은 고딕';
          color: #000;
          border-bottom: 1px solid #888; }
          .community .inner .table table tbody tr td:nth-of-type(2) {
            text-align: left; }
          .community .inner .table table tbody tr td a {
            font: 20px/1 '맑은 고딕';
            color: #000; }
        .community .inner .table table tbody tr:hover td {
          background: #eee; }
    .community .inner .pagination {
      text-align: center; }
      .community .inner .pagination > ul {
        display: inline-block;
        font-size: 0; }
        .community .inner .pagination > ul:nth-of-type(1) {
          text-align: right; }
        .community .inner .pagination > ul:nth-of-type(3) {
          text-align: left; }
        .community .inner .pagination > ul:nth-of-type(odd) li a i {
          font-size: 15px;
          color: #ccc; }
        .community .inner .pagination > ul li {
          display: inline; }
          .community .inner .pagination > ul li a {
            display: inline-block;
            width: 43px;
            height: 43px;
            font: 20px/43px 'arial';
            color: #343434;
            margin-left: 4px; }
      .community .inner .pagination .pgnumb {
        margin: 0 20px; }
        .community .inner .pagination .pgnumb li:hover a {
          border-radius: 22px;
          background-color: #343434;
          color: #fff; }

.department {
  width: 100%; }
  .department .inner {
    width: 1180px;
    margin: 0 auto; }
    .department .inner .about1 {
      width: 100%;
      height: 600px;
      padding: 40px;
      position: relative;
      margin-bottom: 100px; }
      .department .inner .about1 .pic {
        width: 350px;
        height: 450px; }
        .department .inner .about1 .pic img {
          width: 100%;
          height: 100%;
          object-fit: cover; }
      .department .inner .about1 .txt {
        width: 450px;
        position: absolute;
        top: 140px;
        right: 230px; }
        .department .inner .about1 .txt span {
          display: inline-block;
          font: 6px/1 'arial';
          color: #000;
          transform: rotate(-90deg);
          position: absolute;
          left: -22px;
          top: 6px;
          letter-spacing: 1px; }
        .department .inner .about1 .txt h2 {
          font: 30px/1 'arial';
          color: #000;
          margin-bottom: 20px;
          margin-top: 60px; }
          .department .inner .about1 .txt h2::before {
            content: '';
            display: block;
            width: 2px;
            height: 30px;
            background: #222;
            position: absolute;
            top: -60px;
            left: 6px; }
        .department .inner .about1 .txt p {
          font: 20px/1.2 'arial';
          color: #888; }
    .department .inner .team {
      width: 100%;
      height: 450px;
      position: relative;
      margin-bottom: 200px;
      background: #eee;
      display: flex;
      justify-content: flex-end; }
      .department .inner .team::before {
        content: '';
        display: block;
        width: 100%;
        height: 450px;
        background: #eee;
        position: absolute;
        left: 100%; }
      .department .inner .team .pic {
        width: 250px;
        height: 340px;
        margin-left: 30px;
        margin-top: 40px; }
        .department .inner .team .pic img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center center;
          filter: grayscale(80%);
          transition: 0.5s; }
        .department .inner .team .pic:hover img {
          filter: grayscale(0%); }
      .department .inner .team .dpbox {
        width: 280px;
        height: 250px;
        border: 2.5px solid #000;
        padding: 28px;
        position: absolute;
        top: -40px;
        left: -50px; }
        .department .inner .team .dpbox p {
          font: 30px/1.2 'arial';
          color: #000; }
      .department .inner .team .dptxt {
        width: 280px;
        height: 100px;
        position: absolute;
        top: 230px;
        left: 40px; }
        .department .inner .team .dptxt p {
          font: 16px/1.2 'arial';
          color: #000; }
    .department .inner .about2 {
      width: 100%;
      margin-bottom: 100px; }
      .department .inner .about2::after {
        content: '';
        display: block;
        clear: both; }
      .department .inner .about2 article {
        width: 380px;
        height: 200px;
        padding: 20px 0px;
        float: left; }
        .department .inner .about2 article:nth-of-type(1) {
          height: 400px;
          margin-right: 80px; }
          .department .inner .about2 article:nth-of-type(1) h2 {
            font: 30px/1 'arial';
            color: #000;
            margin-bottom: 20px; }
          .department .inner .about2 article:nth-of-type(1) p {
            font: 20px/1.2 'arial';
            color: #000; }
        .department .inner .about2 article:nth-of-type(2), .department .inner .about2 article:nth-of-type(3) {
          width: 340px; }
          .department .inner .about2 article:nth-of-type(2) i, .department .inner .about2 article:nth-of-type(3) i {
            font-size: 40px;
            color: #bbb;
            margin-bottom: 20px; }
          .department .inner .about2 article:nth-of-type(2) p, .department .inner .about2 article:nth-of-type(3) p {
            font: 20px/1 'arial';
            color: #000; }
        .department .inner .about2 article:nth-of-type(4) {
          width: 680px;
          height: 200px;
          padding-top: 40px; }
          .department .inner .about2 article:nth-of-type(4) p {
            font: 18px/1 'arial';
            color: #888; }

@media screen and (max-width: 1179px) {
  .department .inner {
    width: 100%; }
    .department .inner .about1 {
      height: 500px;
      padding: 20px 20px 0px; }
      .department .inner .about1 .pic {
        width: 280px;
        height: 400px; }
      .department .inner .about1 .txt {
        position: absolute;
        top: 120px;
        left: 320px; }
        .department .inner .about1 .txt p {
          width: 340px; }
    .department .inner .team {
      height: auto;
      margin-bottom: 100px;
      padding: 20px; }
      .department .inner .team::before {
        display: none; }
      .department .inner .team .pic {
        width: 200px;
        height: 320px;
        margin-left: 0px; }
      .department .inner .team .dpbox {
        width: 220px;
        height: 320px;
        padding: 10px;
        top: 60px;
        left: 20px; }
      .department .inner .team .dptxt {
        width: 200px;
        top: 200px;
        left: 30px; }
    .department .inner .about2 {
      padding: 0px 20px; }
      .department .inner .about2 article {
        padding: 0px; }
        .department .inner .about2 article::after {
          content: '';
          display: block;
          clear: both; }
        .department .inner .about2 article:nth-of-type(1) {
          height: auto;
          float: left;
          margin-right: 0px; }
        .department .inner .about2 article:nth-of-type(2), .department .inner .about2 article:nth-of-type(3) {
          height: 120px;
          margin-bottom: 20px;
          float: right; }
        .department .inner .about2 article:nth-of-type(4) {
          width: 100%; } }
@media screen and (max-width: 870px) {
  .department .inner .about1 .pic {
    width: 100%;
    height: 200px; }
  .department .inner .about1 .txt {
    width: 100%;
    position: static; }
    .department .inner .about1 .txt span {
      display: none; }
    .department .inner .about1 .txt h2 {
      font: bold 20px/1 'arial'; }
      .department .inner .about1 .txt h2::before {
        display: none; }
    .department .inner .about1 .txt p {
      font-size: 15px;
      width: 100%; }
  .department .inner .team {
    width: 100%;
    display: block; }
    .department .inner .team::after {
      content: '';
      display: block;
      clear: both; }
    .department .inner .team .pic {
      width: 50%;
      height: 200px;
      float: right;
      margin-top: 0px; }
    .department .inner .team .dpbox {
      width: 50%;
      height: 200px;
      position: static;
      float: left; }
    .department .inner .team .dptxt {
      width: 100%;
      position: static;
      float: left; }
      .department .inner .team .dptxt p {
        font-size: 15px;
        margin-top: 20px; }
  .department .inner .about2 article {
    padding: 0px; }
    .department .inner .about2 article::after {
      content: '';
      display: block;
      clear: both; }
    .department .inner .about2 article:nth-of-type(1), .department .inner .about2 article:nth-of-type(2), .department .inner .about2 article:nth-of-type(3), .department .inner .about2 article:nth-of-type(4) {
      width: 100%;
      margin-bottom: 40px; }
      .department .inner .about2 article:nth-of-type(1) p, .department .inner .about2 article:nth-of-type(2) p, .department .inner .about2 article:nth-of-type(3) p, .department .inner .about2 article:nth-of-type(4) p {
        font-size: 15px; }
    .department .inner .about2 article:nth-of-type(1) h2 {
      font: bold 20px/1 'arial'; }
    .department .inner .about2 article:nth-of-type(2), .department .inner .about2 article:nth-of-type(3) {
      height: auto; }
      .department .inner .about2 article:nth-of-type(2) i, .department .inner .about2 article:nth-of-type(3) i {
        font-size: 30px; }
    .department .inner .about2 article:nth-of-type(4) {
      padding-top: 0px; } }
body {
  width: 100%;
  overflow-x: hidden; }

#header {
  width: 100%;
  border-bottom: 1px solid #ddd;
  position: relative;
  z-index: 2; }
  #header .inner {
    width: 1180px;
    height: 100px;
    margin: 0 auto;
    position: relative; }
    #header .inner h1 {
      width: 20%;
      position: absolute;
      top: 23px;
      left: 0; }
      #header .inner h1 a {
        display: block;
        width: 100%;
        height: 50px;
        font: bold 24px/50px 'Prompt';
        color: #000; }
    #header .inner > .gnb {
      width: 65%;
      position: absolute;
      left: 20%; }
      #header .inner > .gnb::after {
        content: '';
        display: block;
        clear: both; }
      #header .inner > .gnb > li {
        float: left;
        width: 120px;
        height: 100px;
        text-align: center; }
        #header .inner > .gnb > li a {
          font: bold 15px/100px 'Prompt';
          color: #222; }
        #header .inner > .gnb > li .sub {
          width: 1180px;
          position: absolute;
          top: 101px;
          right: -177px;
          background: #fff;
          display: none;
          box-shadow: 0px 10px 10px -10px rgba(68, 68, 68, 0.5); }
          #header .inner > .gnb > li .sub h2 {
            width: 200px;
            height: 320px;
            padding-top: 60px;
            float: left;
            font: 20px/1 'arial';
            color: #000;
            text-align: left; }
          #header .inner > .gnb > li .sub .subli {
            width: 250px;
            height: 320px;
            padding: 40px 0px;
            float: left;
            position: relative; }
            #header .inner > .gnb > li .sub .subli ul {
              display: inline-block;
              position: absolute;
              top: 40px;
              left: 30px; }
              #header .inner > .gnb > li .sub .subli ul li {
                width: 100%;
                height: 50px;
                text-align: left; }
                #header .inner > .gnb > li .sub .subli ul li a {
                  font: 18px/50px 'arial';
                  color: #000; }
            #header .inner > .gnb > li .sub .subli::before {
              content: '';
              display: inline-block;
              width: 1px;
              height: 240px;
              background: #ddd;
              position: relative;
              left: -120px; }
          #header .inner > .gnb > li .sub .subpic {
            width: 400px;
            height: 280px;
            padding: 40px 20px 0px;
            float: right; }
            #header .inner > .gnb > li .sub .subpic img {
              width: 100%;
              height: 100%; }
          #header .inner > .gnb > li .sub .subli2 {
            width: 250px;
            height: 320px;
            padding-top: 40px;
            float: right; }
            #header .inner > .gnb > li .sub .subli2 ul li {
              width: 100%;
              height: 60px;
              text-align: left;
              border-top: 1px solid #ddd; }
              #header .inner > .gnb > li .sub .subli2 ul li a {
                font: 20px/60px 'arial';
                color: #000; }
          #header .inner > .gnb > li .sub::before {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: -100%;
            background: #fff;
            box-shadow: 0px 10px 10px -10px rgba(68, 68, 68, 0.5); }
          #header .inner > .gnb > li .sub::after {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            right: -100%;
            background: #fff;
            box-shadow: 0px 10px 10px -10px rgba(68, 68, 68, 0.5); }
    #header .inner > a {
      display: block;
      width: 8%;
      height: 28px;
      border: 1px solid #bbb;
      text-align: center;
      font: bold 12px/28px 'Prompt';
      color: #222;
      position: absolute;
      right: 0px;
      top: 50%;
      transform: translateY(-50%); }
    #header .inner .btnCall {
      display: block;
      width: 30px;
      height: 16px;
      position: absolute;
      right: 0px;
      display: none; }
      #header .inner .btnCall::before {
        content: '';
        display: block;
        width: 80%;
        height: 2px;
        background: #222;
        transition: 0.5s; }
      #header .inner .btnCall span {
        display: block;
        width: 60%;
        height: 2px;
        background: #222;
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: -1px;
        text-indent: -9999px;
        transition: 0.5s; }
      #header .inner .btnCall::after {
        content: '';
        display: block;
        width: 100%;
        height: 2px;
        background: #222;
        position: absolute;
        bottom: 0;
        left: 0; }
      #header .inner .btnCall:hover::before {
        width: 100%; }
      #header .inner .btnCall:hover span {
        width: 100%; }
    #header .inner .menuMo {
      width: 80%;
      height: 100vh;
      background: #ddd;
      position: fixed;
      left: -80%;
      top: 0;
      z-index: 10;
      box-shadow: 5px 0px 10px -10px #000;
      transition: 1s; }
      #header .inner .menuMo .txtbox {
        width: 100%;
        height: 280px;
        padding: 40px;
        background: #fff; }
        #header .inner .menuMo .txtbox > a {
          display: block;
          width: 25px;
          height: 25px;
          position: relative;
          margin-bottom: 60px; }
          #header .inner .menuMo .txtbox > a::before {
            content: '';
            display: block;
            width: 100%;
            height: 2px;
            background: #000;
            position: absolute;
            top: 50%;
            margin-top: -0.5px; }
          #header .inner .menuMo .txtbox > a span {
            display: block;
            text-indent: -9999px; }
          #header .inner .menuMo .txtbox > a::after {
            content: '';
            display: block;
            width: 100%;
            height: 2px;
            transform: rotate(-90deg);
            background: #000;
            position: absolute;
            top: 50%;
            margin-top: -0.5px;
            transition: 0.5s; }
          #header .inner .menuMo .txtbox > a:hover::after {
            transform: rotate(0deg); }
        #header .inner .menuMo .txtbox p {
          width: 250px;
          font: 16px/1.8 'arial';
          color: #000; }
          #header .inner .menuMo .txtbox p a {
            font-size: 16px;
            color: #000;
            position: relative; }
            #header .inner .menuMo .txtbox p a::after {
              content: '';
              display: block;
              width: 50px;
              height: 1px;
              background: #000;
              position: absolute;
              left: 0px;
              bottom: -2px; }
      #header .inner .menuMo .gnbmo {
        background: #eee; }
        #header .inner .menuMo .gnbmo li {
          width: 100%;
          padding: 20px 40px;
          border-bottom: 1px solid #ddd; }
          #header .inner .menuMo .gnbmo li a {
            display: block;
            height: 40px;
            font: 15px/40px 'arial';
            color: #000; }
      #header .inner .menuMo.on {
        left: 0; }

#visual {
  width: 100%;
  height: calc(100vh - 101px);
  background: lightgrey;
  position: relative;
  z-index: 1; }
  #visual .inner {
    height: calc(100vh - 101px); }

#intro {
  width: 100%; }
  #intro > .inner {
    width: 1180px;
    margin: 0 auto;
    padding: 100px 0px 200px; }
    #intro > .inner::after {
      content: '';
      display: block;
      clear: both; }
    #intro > .inner .txtbox {
      width: 400px;
      padding: 40px 40px 20px 0px;
      float: left; }
      #intro > .inner .txtbox h2 {
        font: 30px/1 'arial';
        color: #000;
        margin-bottom: 20px; }
      #intro > .inner .txtbox p {
        font: 20px/1.4 'arial';
        color: #444;
        margin-bottom: 20px; }
      #intro > .inner .txtbox a {
        display: block;
        width: 130px;
        height: 50px;
        font: 20px/45px 'arial';
        color: #000;
        text-align: center;
        border: 2px solid #CFB6A4; }
    #intro > .inner .picbox {
      float: right;
      display: flex; }
      #intro > .inner .picbox .pic {
        width: 250px;
        height: 400px;
        margin-right: 15px; }
        #intro > .inner .picbox .pic img {
          width: 100%;
          height: 100%;
          object-fit: cover; }
        #intro > .inner .picbox .pic:last-child {
          margin-right: 0px; }

#news {
  width: 100%; }
  #news > .inner {
    width: 1180px;
    margin: 0 auto; }
    #news > .inner .txtbox {
      text-align: center; }
      #news > .inner .txtbox h2 {
        font: 40px/1 'arial';
        color: #222;
        margin-bottom: 40px; }
      #news > .inner .txtbox p {
        font: 20px/1.4 'arial';
        color: #666;
        margin-bottom: 80px; }
    #news > .inner .wrap {
      display: flex;
      flex-wrap: wrap; }
      #news > .inner .wrap a {
        display: block;
        width: 380px;
        margin-right: 20px;
        margin-bottom: 60px; }
        #news > .inner .wrap a:nth-of-type(3) {
          margin-right: 0; }
        #news > .inner .wrap a article .pic {
          width: 100%;
          height: 190px;
          margin-bottom: 30px; }
          #news > .inner .wrap a article .pic img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: bottom; }
        #news > .inner .wrap a article .txt h3 {
          font: 18px/1.2 'arial';
          color: #222;
          margin-bottom: 10px; }
        #news > .inner .wrap a article .txt p {
          font: 16px/1 'arial';
          color: #666; }
        #news > .inner .wrap a:first-child article .pic > img {
          object-position: center; }

#brand {
  width: 100%; }
  #brand .inner {
    width: 1180px;
    margin: 0 auto; }
    #brand .inner .brandbox::after {
      content: '';
      display: block;
      clear: both; }
    #brand .inner .brandbox .box {
      width: 580px;
      height: 600px;
      float: left; }
      #brand .inner .brandbox .box:nth-of-type(1), #brand .inner .brandbox .box:nth-of-type(4) {
        height: 400px;
        background: pink; }
      #brand .inner .brandbox .box:nth-of-type(2), #brand .inner .brandbox .box:nth-of-type(3) {
        height: 400px;
        background: lightcyan; }

#popup {
  width: 500px;
  min-height: 200px;
  background-color: pink;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  padding: 20px; }
  #popup .content {
    font: 20px/1 '맑은 고딕';
    color: #000;
    margin-bottom: 100px; }
  #popup .wrap::after {
    content: '';
    display: block;
    clear: both; }
  #popup .wrap label {
    font: 15px/1 '맑은 고딕';
    color: #000;
    float: left; }
  #popup .wrap input {
    margin-right: 10px; }
  #popup .wrap a {
    font: 15px/1 'arial';
    color: #000;
    float: right; }

#footer {
  width: 100%;
  background: #222; }
  #footer .inner {
    width: 1180px;
    margin: 0 auto;
    padding: 40px 0px; }
    #footer .inner .wrap {
      width: 100%;
      display: flex; }
      #footer .inner .wrap article {
        margin-right: 60px; }
        #footer .inner .wrap article h1 {
          font: 20px/1 'arial';
          color: #ddd;
          margin-bottom: 30px; }
        #footer .inner .wrap article p {
          font: 15px/1.2 'arial';
          color: #888; }
        #footer .inner .wrap article ul li {
          margin-bottom: 15px; }
          #footer .inner .wrap article ul li a {
            font: 14px/1 'arial';
            color: #888; }
            #footer .inner .wrap article ul li a:hover {
              font: 16px/1 'arial';
              color: #fff; }
        #footer .inner .wrap article:nth-of-type(1) {
          flex: 2; }
        #footer .inner .wrap article:nth-of-type(2) {
          flex: 1;
          margin-left: 20px; }
        #footer .inner .wrap article:nth-of-type(3) {
          flex: 1; }
        #footer .inner .wrap article:nth-of-type(4) {
          flex: 2.2;
          margin-right: 0px; }
          #footer .inner .wrap article:nth-of-type(4) > p {
            margin-bottom: 20px; }
          #footer .inner .wrap article:nth-of-type(4) input[type=text] {
            width: 180px;
            height: 35px;
            font: 12px/35px 'arial';
            padding: 0px 5px; }
          #footer .inner .wrap article:nth-of-type(4) input[type=submit] {
            width: 100px;
            height: 35px;
            background-color: burlywood;
            border: none;
            font: 12px/35px 'arial';
            color: #000;
            cursor: pointer; }
    #footer .inner > p {
      font: 14px/1 'arial';
      color: #444;
      margin-top: 80px; }
    #footer .inner address {
      font: 14px/1.4 'arial';
      color: #444; }

@media screen and (max-width: 1179px) {
  #header .inner {
    width: 100%;
    height: 80px; }
    #header .inner h1 {
      width: 50%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
      #header .inner h1 a {
        height: 80px;
        line-height: 80px;
        text-align: center; }
    #header .inner > .gnb {
      display: none; }
    #header .inner > a {
      border: none;
      letter-spacing: 1px;
      color: #666;
      right: 30px; }
    #header .inner .btnCall {
      left: 30px;
      display: block; }

  #intro {
    width: 100%; }
    #intro > .inner {
      width: 100%;
      padding: 40px 20px; }
      #intro > .inner .txtbox {
        margin-bottom: 20px; }
        #intro > .inner .txtbox h2 {
          font: 30px/1 'arial';
          color: #000;
          margin-bottom: 20px; }
        #intro > .inner .txtbox p {
          font: 20px/1.4 'arial';
          color: #444;
          margin-bottom: 20px; }
        #intro > .inner .txtbox a {
          display: block;
          width: 130px;
          height: 50px;
          font: 20px/45px 'arial';
          color: #000;
          text-align: center;
          border: 2px solid #CFB6A4; }
      #intro > .inner .picbox {
        width: 100%; }
        #intro > .inner .picbox .pic {
          width: 250px;
          height: 400px;
          margin-right: 15px; }
          #intro > .inner .picbox .pic img {
            width: 100%;
            height: 100%;
            object-fit: cover; }
          #intro > .inner .picbox .pic:last-child {
            margin-right: 0px; }

  #news > .inner {
    width: 100%;
    padding: 40px 20px; }
    #news > .inner .txtbox {
      text-align: center; }
      #news > .inner .txtbox h2 {
        font: 40px/1 'arial';
        color: #222;
        margin-bottom: 40px; }
      #news > .inner .txtbox p {
        font: 20px/1.4 'arial';
        color: #666;
        margin-bottom: 80px; }
    #news > .inner .wrap {
      width: 100%;
      display: flex;
      flex-wrap: wrap; }
      #news > .inner .wrap a {
        display: block;
        width: 49%;
        margin-right: 2%;
        margin-bottom: 60px; }
        #news > .inner .wrap a:nth-of-type(even) {
          margin-right: 0; }
        #news > .inner .wrap a article .pic {
          width: 100%;
          height: 190px;
          margin-bottom: 30px; }
          #news > .inner .wrap a article .pic img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: bottom; }
        #news > .inner .wrap a article .txt h3 {
          font: 18px/1.2 'arial';
          color: #222;
          margin-bottom: 10px; }
        #news > .inner .wrap a article .txt p {
          font: 16px/1 'arial';
          color: #666; }
        #news > .inner .wrap a:first-child article .pic > img {
          object-position: center; }

  #brand .inner {
    width: 100%; }
    #brand .inner .brandbox::after {
      content: '';
      display: block;
      clear: both; }
    #brand .inner .brandbox .box {
      width: 580px;
      height: 600px;
      float: left; }
      #brand .inner .brandbox .box:nth-of-type(1), #brand .inner .brandbox .box:nth-of-type(4) {
        height: 400px;
        background: pink; }
      #brand .inner .brandbox .box:nth-of-type(2), #brand .inner .brandbox .box:nth-of-type(3) {
        height: 400px;
        background: lightcyan; }

  #footer {
    padding: 20px 20px; }
    #footer .inner {
      width: 100%;
      padding: 0px; }
      #footer .inner .wrap {
        display: inline-block; }
        #footer .inner .wrap::after {
          content: '';
          display: block;
          clear: both; }
        #footer .inner .wrap article {
          margin-right: 0px;
          float: left;
          width: 30%; }
          #footer .inner .wrap article h1 {
            font-size: 18px; }
          #footer .inner .wrap article p {
            font-size: 14px; }
          #footer .inner .wrap article ul li {
            margin-bottom: 10px; }
          #footer .inner .wrap article:nth-of-type(1) {
            margin-right: 30px; }
          #footer .inner .wrap article:nth-of-type(2), #footer .inner .wrap article:nth-of-type(3) {
            width: 25%;
            margin-right: 0px; }
          #footer .inner .wrap article:nth-of-type(4) {
            width: 100%;
            margin-top: 40px; }
            #footer .inner .wrap article:nth-of-type(4) > h1 {
              margin-bottom: 5px; }
            #footer .inner .wrap article:nth-of-type(4) > p {
              margin-bottom: 20px;
              width: 100%; }
            #footer .inner .wrap article:nth-of-type(4) input[type=text] {
              height: 30px;
              font: 12px/30px 'arial'; }
            #footer .inner .wrap article:nth-of-type(4) input[type=submit] {
              width: 80px;
              height: 30px;
              font: 12px/30px 'arial'; }
      #footer .inner > p {
        font-size: 12px;
        margin-top: 60px;
        padding-top: 10px;
        border-top: 1px solid #444; }
      #footer .inner address {
        font-size: 12px; } }
@media screen and (max-width: 539px) {
  #header .inner > a {
    display: none; }
  #header .inner .btnCall {
    left: 20px; }

  #footer .inner .wrap article ul li {
    margin-bottom: 5px; }
  #footer .inner .wrap article:nth-of-type(1) {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 50px; }
    #footer .inner .wrap article:nth-of-type(1) h1 {
      margin-bottom: 5px; }
  #footer .inner .wrap article:nth-of-type(2), #footer .inner .wrap article:nth-of-type(3) {
    width: 50%;
    margin: 0px; }
    #footer .inner .wrap article:nth-of-type(2) h1, #footer .inner .wrap article:nth-of-type(3) h1 {
      margin-bottom: 10px; }
  #footer .inner .wrap article:nth-of-type(4) input[type=text] {
    width: 66%;
    background-color: #eee;
    border: none; }
  #footer .inner .wrap article:nth-of-type(4) input[type=submit] {
    width: 30%; }
  #footer .inner > p {
    margin-bottom: 5px; } }

/*# sourceMappingURL=style.css.map */
