@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Gowun+Batang&family=Noto+Sans+KR:wght@100&family=Prompt:wght@200&display=swap');
@import "reset";
@import "sub/layout_sub";
@import "sub/members";
@import "sub/youtube";
@import "sub/gallery";
@import "sub/location";


#header{
    width: 100%;
    border-bottom: 1px solid #ddd;

    .inner{
        width: 1180px;
        height: 100px;
        margin: 0 auto;
        position: relative;

        h1{
            width: 20%;
            position: absolute;
            top: 23px;
            left: 0;
            a{
                font: bold 24px/1 'Prompt'; color: #000;
            }
        }
        .gnb{
            width: 65%;
            position: absolute;
            left: 20%;

            &::after{
                content: ''; display: block; clear: both;
            }

            li{
                float: left;
                width: 120px;
                height: 100px;
                text-align: center;
                a{
                    font: bold 15px/100px 'Prompt'; color: #222;
                    
                }
            }
        }

        >a{
            display: block;
            width: 10%;
            height: 28px;
            border: 1px solid #bbb;
            text-align: center;
            font: bold 12px/28px 'Prompt'; color: #222;
            position: absolute;
            right: 0px;
            top: 50%;
            transform: translateY(-50%);

        }

    }
}
#visual{
    width: 100%;

    .inner{
        height: calc(100vh - 103px);
    }
}
#footer{
    width: 100%;
    background: #222;

    .inner{
        width: 1180px;
        margin: 0 auto;
        padding: 40px 0px;
        

        .wrap{
            width: 100%;
            display: flex;
        
            article{
                margin-right: 60px;
                h1{
                    font: 20px/1 'arial'; color: #ddd;
                    margin-bottom: 30px;
                }
                p{
                    font: 15px/1.2 'arial'; color: #888;
                }
                ul{
                    li{
                        margin-bottom: 15px;

                        a{
                            font: 14px/1 'arial'; color: #888;

                            &:hover{
                                font: 16px/1 'arial'; color: #fff;
                            }
                        }
                    }
                }

                &:nth-of-type(1){             
                    flex:2;
                    
                }
                &:nth-of-type(2){
                    flex:1;
                    margin-left: 20px;
                    
                }
                &:nth-of-type(3){
                    flex:1; 
                }
                &:nth-of-type(4){
                    flex:2.2;
                    margin-right: 0px;

                    >p{
                        margin-bottom: 20px;

                    }
                    input[type="text"]{
                        width: 180px;
                        height: 35px;
                        font: 12px/35px 'arial';
                        padding: 0px 5px;

                    }
                    input[type="submit"]{
                        width: 100px;
                        height: 35px;
                        background-color: burlywood;
                        border: none;
                        font: 12px/35px 'arial'; color: #000;
                    }
                    
                }
            }

            
        }
        >p{
            font: 14px/1 'arial'; color: #444;
            margin-top: 80px;
            
        }
        address{
            font: 14px/1.4 'arial'; color: #444;

        }

    }
}