@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import "reset";
@import "sub/layout_sub";
@import "sub/members";
@import "sub/youtube";
@import "sub/gallery";
@import "sub/location";
@import "sub/community";
@import "sub/department";

body{width: 100%; overflow-x: hidden;}
#header{
    width: 100%;
    border-bottom: 1px solid #ddd;
    position: relative;
    z-index: 2;

    .inner{
        width: 1180px;
        height: 100px;
        margin: 0 auto;
        position: relative;

        h1{
            width: 20%;
            position: absolute;
            top: 23px;
            left: 0;
            a{
                display: block; width: 100%; height: 50px;
                font: 24px/50px 'Prompt'; color: #000;
            }
        }
        >.gnb{
            width: 65%;
            position: absolute;
            left: 20%;

            &::after{
                content: ''; display: block; clear: both;
            }

            >li{
                float: left;
                width: 120px;
                height: 100px;
                text-align: center;
                
                a{
                    font:  15px/100px 'Prompt'; color: #222;
                }
                
                .sub{
                    width: 1180px;
                    position: absolute; top: 101px;
                    right: -177px;
                    background: #fff;
                    display: none;
                    box-shadow: 0px 10px 10px -10px rgba(68, 68, 68, 0.5);

                    h2{
                        width: 200px; height: 320px;
                        padding-top: 60px;
                        float: left;
                        font: 20px/1 'arial'; color: #000;
                        text-align: left;
                    }
                    .subli{
                        width: 250px; height: 320px;
                        padding: 40px 0px;
                        float: left;
                        position: relative;

                        ul{
                            display: inline-block;
                            position: absolute; top: 40px; left: 30px;

                            li{
                                width: 100%; height: 50px;
                                text-align: left;

                                a{
                                    font: 18px/50px 'arial'; color: #000;
                                }
                            }
                        }

                        &::before{
                            content: ''; display: inline-block; 
                            width: 1px; height: 240px; background: #ddd; 
                            position: relative; left: -120px;
                        }
                    }
                    .subpic{
                        width: 400px; height: 280px;
                        padding: 40px 20px 0px;
                        float: right;

                        img{
                            width: 100%; height: 100%;
                        }
                    }

                    .subli2{
                        width: 250px; height: 320px;
                        padding-top: 40px;
                        float: right;

                        ul{
                            li{
                                width: 100%; height: 60px;
                                text-align: left;
                                border-top: 1px solid #ddd;
                                a{
                                    font: 20px/60px 'arial'; color: #000;
                                }
                            }
                        }
                    }
                    
                    


                    &::before{
                        content: ''; display: block; 
                        width: 100%; height: 100%;
                        position: absolute; top: 0;
                        left: -100%;
                        background: #fff;
                        box-shadow: 0px 10px 10px -10px rgba(68, 68, 68, 0.5);
                    }
                    &::after{
                        content: ''; display: block;
                        width: 100%; height: 100%;
                        position: absolute; top: 0;
                        right: -100%;
                        background: #fff;
                        box-shadow: 0px 10px 10px -10px rgba(68, 68, 68, 0.5);
                    }
                }
            }
        }

        >a{
            display: block;
            width: 8%;
            height: 28px;
            border: 1px solid #bbb;
            text-align: center;
            font: 12px/28px 'Prompt'; color: #222;
            position: absolute;
            right: 0px;
            top: 50%;
            transform: translateY(-50%);
        }
        

        .btnCall{
            display: block; width: 30px; height: 16px;
            position: absolute; right: 0px;
            display: none;

            &::before{
                content: ''; display: block;
                width: 80%; height: 2px;
                background: #222;
                transition: 0.5s;
            }
            span{
                display: block; 
                width: 60%; height: 2px;
                background: #222;
                position: absolute; top: 50%; left: 0;
                margin-top: -1px;
                text-indent: -9999px;
                transition: 0.5s;
            }
            &::after{
                content: ''; display: block;
                width: 100%; height: 2px;
                background: #222;
                position: absolute; bottom: 0; left: 0;
            }

            &:hover{
                &::before{width: 100%;}
                span{width: 100%;}
            }
        }
        .menuMo{
            width: 80%; height: 100vh;
            background: #ddd;
            position: fixed;
            left: -80%; top: 0;
            z-index: 10;
            box-shadow: 5px 0px 10px -10px #000;
            transition:1s;

            .txtbox{
                width: 100%; height: 280px;
                padding: 40px;
                background: #fff;

                >a{
                    display: block;
                    width: 25px; height: 25px;
                    position: relative; 
                    margin-bottom: 60px;

                    &::before{
                        content: ''; display: block;
                        width: 100%; height: 2px;
                        background: #000;
                        position: absolute; top: 50%;
                        margin-top: -0.5px;
                    }
                    span{
                        display: block;
                        text-indent: -9999px;
                    }
                    &::after{
                        content: ''; display: block;
                        width: 100%; height: 2px;
                        transform: rotate(-90deg);
                        background: #000;
                        position: absolute; top: 50%;
                        margin-top: -0.5px;
                        transition: 0.5s;
                    }

                    &:hover{
                        &::after{
                            transform: rotate(0deg);
                        }
                    }
                }
                p{
                    width: 250px;
                    font: 16px/1.8 'arial'; color: #000;
                    a{
                        font-size: 16px; color: #000;
                        position: relative;
                        &::after{
                            content: ''; display: block;
                            width: 50px; height: 1px;
                            background: #000; 
                            position: absolute;
                            left: 0px; bottom: -2px;
                        }
                    }
                }
            }
            .gnbmo{
                background: #eee;
                li{
                    width: 100%; 
                    padding: 20px 40px;
                    border-bottom: 1px solid #ddd;
                    a{
                        display: block; height: 40px;
                        font: 15px/40px 'arial'; color: #000;
                    }
                }

            }

            &.on{left: 0;}
        }

    }
}
#visual{
    width: 100%;
    height: calc(100vh - 101px);
    position: relative;
    z-index: 1;
    background-color: #eee;

    .inner{
        height: calc(100vh - 101px);
    }
}
#intro{
    width: 100%;

    .inner{
        width: 1180px; 
        margin: 0 auto;
        padding: 40px 0px;

        
        .txtbox{
            width: 40%; height: 500px;
            display: inline-block;
            //border:1px solid pink;

            h2{
                font: 52px/1 'EB Garamond'; color: #525252;
                margin-bottom: 60px;
            }
            p{
                font: 20px/1.4 'Alegreya Sans'; color: #5f5f5f;
            }

        }
        // .picbox{
        //     display: inline-block;
        //     width: 60%; height: 800px;
        //     img{width: 100%; height: 100%; object-fit: cover;}
        // }
        
    }
}

#arts{
    width: 100%;
    
    .inner{
        width: 1180px; margin: 0 auto;
        overflow: hidden;
        position: relative;
        .txtbox{
            margin-bottom: 140px;
            
            >h2{font: 40px/1 'EB Garamond'; color: #525252;}
        }
        .slider1{
            width:340px; 
            height:600px;  
            position:relative; 
            

            .list1{
                width: calc(100% * 5);
                height: 100%;
                margin-left: -100%;
                &::after{content: ''; display: block; clear: both;}
                li{
                    width:calc(100% / 5); 
                    height:100%;  
                    float:left; 
                    padding: 20px;

                    &.box2,&.box4{
                        margin-top: 40px;
                    }

                    .pic{
                        width: 100%; height: 400px;
                        background-color: #eee;
                        overflow: hidden;

                        img{
                            width: 100%; height: 100%;
                            object-fit: cover;
                            transition: 0.5s;
                            &:hover{transform: scale(1.1);}
                        }
                    }
                    .pictxt{
                        width: 220px; 
                        background-color: #fff;
                        position: relative; top: -50px; 
                        p{
                            font: 17px/1  'EB Garamond'; color: #C9AB81;
                            padding: 23px 0px;
                        }
                        a{
                            font: 22px/1.4  'EB Garamond'; color: #525252;
                            &:hover{
                                color: #c9ab81;
                            }
                        }
                    }
                }
            }
        }
        .slidebtn{
            position: absolute; top: 60px; right: 0;
            a{
                margin-right: 40px;
                i{
                    font-size: 30px; color: #C9AB81;
                    
                }
            }
        }
    }
}

#banner{
    width: 100%;
    background: url(../img/banner3.jpg) no-repeat right/ cover fixed;

    .inner{
        width: 1180px; margin: 0 auto;
        overflow: hidden;
        
        position: relative;
        padding: 50px 0px;
        .txtbox{
            margin-bottom: 60px;
            span{
                display: block; font-size: 28px; color: #ED1846; text-align: center;
                margin-bottom: 27px;
            }
            h2{font: 36px/1 'arial'; color: #fff; text-align: center;}
        }

        .slider2{
            width: 400px; //height: 600px;
            margin: 0 auto;
            
            
            .list2{
                width: calc(100% * 5);
                height: 100%;
                margin-left: -100%;
                &::after{content: ''; display: block; clear: both;}
                position: relative;
                
                button{
                    position: absolute; z-index: 10;
                    border: 1px solid #fff;
                    width: 50px; height: 50px;
                    background: #fff;

                    i{color: #000; font-size: 20px;}
                }
                >li{
                    width: calc(100% / 5);
                    height: 100%;
                    float: left;

                    
                    
                    a{
                        display: block;
                        padding-top: 20px;
                        margin-bottom: 20px;

                        .pic{
                            width: 100%; height: 300px;
                            padding: 0px 15px;
                            margin-bottom: 20px;
                            img{
                                width: 100%; height: 100%; object-fit: contain;
                                object-position: center;
                            }
                        }
                    }
                    

                    .pictxt{
                        padding: 0px 40px;
                        text-align: center;
                        span{
                            font: 18px/1 'arial'; color:#fff;
                            margin-bottom: 10px; display: block;
                        }
                        p{
                            font: 26px/1.2 'arial'; color:#fff;
                            margin-bottom: 10px;
                        }
                        
                    }
                }
            }
            .prev{
                position:absolute; 
                top:50%; 
                left:50px; 
                margin-top:-50px; 
            }
            .next{
                position:absolute; 
                top:50%; 
                margin-top:-50px; 
                right:50px; 
            }
        }
    }
}

#notice{
    width: 100%;
    .inner{
        width: 1180px; margin: 0 auto;
        border: 1px solid pink;
        padding: 100px 0px;

        &::after{content: ''; display: block; clear: both;}

        h2{
            font: 36px/1 'arial'; color: #222; text-align: center;
            margin-bottom: 100px;
        }
        .leftbox{
            width: 48%;
            float: left;
            

            #tab{
                width: 100%;
                border-top: 2px solid #000;
                margin:50px auto; 
                position:relative; 

                dl{
                    dt{
                        width: 120px; height: 50px; 
                        position: absolute; top: -51.5px;
                        

                        &:nth-of-type(1){left: 0;}
                        &:nth-of-type(2){left: 120px;}

                        a{
                            display: block; width: 100%; height: 100%;
                            border: 1px solid #000;
                            
                            background: #fff;
                            font: 15px/50px 'arial'; color: #000;
                            text-align: center;

                            &.on{
                                background: #000;
                                color: #fff;
                            }
                        }
                    }

                    dd{
                        width: 100%; 
                        display: none;

                        &#tab1{display: block;}

                        ul{
                            li{
                                width: 100%; height: 60px;
                                padding: 20px 0px 12px;
                                border-bottom: 1px solid #e2e2e2;
                                a{
                                    display: block; width: 100%; height: 100%;
                                    p{
                                        display: inline-block; width: 80%;
                                        font: 20px/1 'arial'; color: #222;
                                    }
                                    span{font: 15px/1 'arial'; color: #222;}
                                }
                            }
                        }
                    }
                }

            }

        }
        .rightbox{
            width: 50%;
            float: right;
            padding-left: 40px;
            padding-top: 10px;

            h3{font: 20px/1 'arial'; color: #000; margin-bottom: 20px;}
            img{width: 100%; object-fit: cover;}
        }
    }
}

#sns{
    width: 100%;
    .inner{
        width: 1180px; margin: 0 auto;

        .titbox{
            width: 100%;
            text-align: center;
            span{
                display: block;
                font: 28px/1 'arial'; color: #222;
                margin-bottom: 10px;
            }
            h2{
                font: 50px/1 'arial'; color: #222;
                margin-bottom: 80px;
            }
        }

        .picbox{
            width: 100%;
            &::after{content: ''; display: block; clear: both;}
            .box{
                width: 280px; height: 250px;
                float: left; 
                margin-right: 20px;

                &:nth-of-type(1){background: orange;}
                &:nth-of-type(2){background: orangered;}
                &:nth-of-type(3){background: lightpink;}
                &:nth-of-type(4){background: lightcyan; margin-right:0px;}


            }
        }
    }
}

#news{
    width: 100%;
    background: #f3f3f2;
    .inner{
        width: 1180px;
        margin: 0 auto;

        .box{
            width: 100%;
            padding: 140px 0px;
            &::after{content: ''; display: block; clear: both;}
            >h2{
                width: 100%;
                font: 40px/1 'EB Garamond'; color: #525252;
                float: left;
                margin-bottom: 50px;
            }
            >ul{
                width: 80%;
                float: right;             
                
                li{
                    width: 100%;
                    display: flex;
                    border-bottom: 1px solid #222;

                    &:nth-of-type(1){
                        border-top: 2px solid #222;
                    }
                    a{
                        display: block;
                        width: 100%; 
                        font-size: 0px;
                        padding: 38px;
                        display: flex;

                        >p{
                            width: 20%;
                            font: 30px/1 'Montserrat'; color: #333;
                            span{
                                display: block;
                                margin-top: 5px;
                                font: 15px/1 'Montserrat'; color: #777;
                            }
                        }
                        .txt{
                            width: 80%; padding-right: 100px;
                            position: relative;
                            //display: flex;
                            >h3{
                                font: 30px/1 'arial'; color: #333;
                            }
                            >p{
                                font: 20px/1 'arial'; color: #777;
                                
                            }
                            .icon{
                                display: block;
                                width: 50px; height: 50px;
                                border-radius: 50%;
                                position: absolute; right: 0px; top: -2px;
                                transition: 0.4s;
                                &::before{
                                    content: ''; display: block;
                                    width:26px; height: 1px;
                                    background: #333;
                                    position: absolute; top: 50%; left: 50%;
                                    transform: translate(-50%, -50%);
                                }
                                &::after{
                                    content: ''; display: block;
                                    width: 26px; height: 1px;
                                    background: #333;
                                    
                                    position: absolute; top: 50%; left: 26%;
                                    
                                    transform: translateY(-50%);
                                    transform: rotate(90deg);

                                }
                                
                            }
                        }

                        &:hover{
                            .icon{
                                background-color: #222;

                                &::after, &::before{background-color: #fff;}
                            }
                        }

                    }
                    
                }
            }
        }
        
        
    }
}


#popup{
    width: 500px; min-height:200px; background-color: pink;
    position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);
    z-index: 10;
    padding: 20px;
    .content{
        font: 20px/1 '맑은 고딕'; color: #000;
        margin-bottom: 100px;
    }
    .wrap{
        &::after{content: ''; display: block; clear: both;}
        label{font: 15px/1 '맑은 고딕'; color: #000; float: left;}
        input{margin-right: 10px;}

        a{font: 15px/1 'arial'; color: #000; float: right;}
    }
}

#footer{
    width: 100%;
    background: #222;

    .inner{
        width: 1180px;
        margin: 0 auto;
        padding: 40px 0px;
        

        .wrap{
            width: 100%;
            display: flex;
        
            article{
                margin-right: 60px;
                h1{
                    font: 20px/1 'arial'; color: #ddd;
                    margin-bottom: 30px;
                }
                p{
                    font: 15px/1.2 'arial'; color: #888;
                }
                ul{
                    li{
                        margin-bottom: 15px;

                        a{
                            font: 14px/1 'arial'; color: #888;

                            &:hover{
                                font: 16px/1 'arial'; color: #fff;
                            }
                        }
                    }
                }

                &:nth-of-type(1){             
                    flex:2;
                    
                }
                &:nth-of-type(2){
                    flex:1;
                    margin-left: 20px;
                    
                }
                &:nth-of-type(3){
                    flex:1; 
                }
                &:nth-of-type(4){
                    flex:2.2;
                    margin-right: 0px;

                    >p{
                        margin-bottom: 20px;

                    }
                    input[type=text]{
                        width: 180px;
                        height: 35px;
                        font: 12px/35px 'arial';
                        padding: 0px 5px;

                    }
                    input[type=submit]{
                        width: 100px;
                        height: 35px;
                        background-color: burlywood;
                        border: none;
                        font: 12px/35px 'arial'; color: #000;
                        cursor: pointer;
                    }
                    
                }
            }

            
        }
        >p{
            font: 14px/1 'arial'; color: #444;
            margin-top: 80px;
            
        }
        address{
            font: 14px/1.4 'arial'; color: #444;

        }

    }
}

@media screen and (max-width:1179px){
    #header{
        .inner{
            width: 100%;
            height: 80px;  

            h1{
                width: 50%;
                top: 50%; left: 50%;
                transform: translate(-50%, -50%);
                
                a{
                    height: 80px;
                    line-height: 80px;
                    text-align: center;
                }
            }
            >.gnb{
                display: none;
            }
    
            >a{
                border: none;
                letter-spacing: 1px;
                color: #666;
                right: 30px;
            } 
            .btnCall{
                left: 30px;
                display: block;
            }
        }
    }

    #intro{
        width: 100%;
        >.inner{
            width: 100%;
            padding: 40px 20px;
            
            .txtbox{
                margin-bottom: 20px;
    
                h2{
                    font: 30px/1 'arial'; color: #000;
                    margin-bottom: 20px;
                }
                p{
                    font: 20px/1.4 'arial'; color: #444;
                    margin-bottom: 20px;
                }
                a{
                    display: block;
                    width: 130px; height: 50px;
                    font: 20px/45px 'arial'; color: #000;
                    text-align: center;
                    border: 2px solid #CFB6A4;
    
                }
            }
            .picbox{
                width: 100%;
                .pic{
                    width: 250px; height: 400px;
                    margin-right: 15px;
                    img{
                        width: 100%; height: 100%;
                        object-fit: cover;
                    }
                    &:last-child{margin-right: 0px;}
                }
            }
        }
    }
    #news{
        >.inner{
            width: 100%;
            padding: 40px 20px;

            .txtbox{
                text-align: center;
                h2{
                    font: 40px/1 'arial'; color: #222;
                    margin-bottom: 40px;
                }
                p{
                    font: 20px/1.4 'arial'; color: #666;
                    margin-bottom: 80px;
    
                }
            }
            .wrap{
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                a{
                    display: block;
                    width: 49%;
                    margin-right: 2%;
                    margin-bottom: 60px;
                    &:nth-of-type(even){margin-right: 0;}
    
                   
                    article{
                        .pic{
                            width: 100%; height: 190px;
                            margin-bottom: 30px;
                            img{
                                width: 100%; height: 100%;
                                object-fit: cover;
                                object-position: bottom;
                            }
                        }
                        
                        
                        .txt{
                            h3{
                                font: 18px/1.2 'arial';
                                color: #222;
                                margin-bottom: 10px;
                            }
                            p{
                                font: 16px/1 'arial';
                                color: #666;
                            }
                        }
                    }
                    &:first-child{
                        article{
                            .pic{
                                >img{
                                    object-position: center;
                                }
                            }
                        }
                       
                    }
                }
                
            }
        }
    }
    
    #brand{
        .inner{
            width: 100%;
    
            .brandbox{
                &::after{content: ''; display: block; clear: both;}
                .box{
                    width: 580px; height: 600px;
                    float: left;
    
                    &:nth-of-type(1),&:nth-of-type(4){
                        height: 400px; background: pink;
                    }
                    &:nth-of-type(2),&:nth-of-type(3){
                        height: 400px; background: lightcyan;
                    }
                }
            }
        }
    }

    #footer{
        padding: 20px 20px;
        .inner{
            width: 100%;
            padding: 0px;  
            .wrap{
                display: inline-block;
                &::after{content: ''; display: block; clear: both;}
                article{
                    margin-right: 0px;
                    float: left;
                    width: 30%;
                    h1{font-size: 18px;}
                    p{font-size: 14px;}
                    ul{
                        li{ margin-bottom: 10px; }
                    }
    
                    &:nth-of-type(1){margin-right: 30px;}
                    &:nth-of-type(2), &:nth-of-type(3){
                        width:25%;
                        margin-right: 0px;
                    }
                    
                    &:nth-of-type(4){
                        width: 100%;
                        margin-top: 40px;  
                        >h1{
                            margin-bottom: 5px;
                        }
                        >p{
                            margin-bottom: 20px; width: 100%;
                        }
                        input[type=text]{
                            height: 30px;
                            font: 12px/30px 'arial';    
                        }
                        input[type=submit]{
                            width: 80px;
                            height: 30px;
                            font: 12px/30px 'arial'; 
                        }
                        
                    }
                }
    
                
            }
            >p{
                font-size: 12px;
                margin-top: 60px; 
                padding-top: 10px ;
                border-top: 1px solid #444;
            }
            address{
                font-size: 12px;
            }
    
        }
    }
}
@media screen and (max-width:539px){
    #header{
        .inner{
            >a{display: none;} 
            .btnCall{left: 20px;}
        }
    }

    #footer{
        .inner{ 
            .wrap{
                article{
                    ul{
                        li{ margin-bottom: 5px;}
                    }
    
                    &:nth-of-type(1){
                        width: 100%;
                        margin-right: 0px;
                        margin-bottom: 50px;
                        h1{
                            margin-bottom: 5px;
                        }

                    }
                    &:nth-of-type(2), &:nth-of-type(3){
                        width:100%;
                        margin:0px 0px 20px;
                        
                        h1{margin-bottom: 5px;}

                        li{
                            display: inline-block; 
                            padding-right: 10px;
                            
                            &::after{
                                content: ''; display: block;
                                width: 1px; height: 10px;
                                background: #eee;
                                position: relative;
                                top: -13px; left: -9px;
                            }
                            &:nth-of-type(1){
                                &::after{display: none;}
                            }
                        }

                    }
                    
                    &:nth-of-type(4){
                        input[type=text]{ 
                            width: 66%;
                            background-color: #eee;
                            border: none;
                        }
                        input[type=submit]{
                            width: 30%;
                            
                        }
                    }
                }
    
                
            }
            >p{
                margin-bottom: 5px;
            }
    
        }
    }
}