.community{
    width: 100%;
    
    .inner{
        width: 1180px; 
        margin: 0 auto;

        h1{
            font: 50px/1 'arial'; color: #000; 
            text-align: center;
        }
        >p{
            font: 25px/1 '맑은 고딕'; color: #222;
            text-align: center;
            margin-bottom: 80px;
        }

        >.wrap{
            width: 100%;
            margin-bottom: 200px;
            &::after{content: ''; display: block; clear: both;}
            >.btn{
                width: 25%; min-height: 260px;
                padding: 0 50px;
                float: left;
                text-align: center;
                border-right: 2px solid #f1e2d7;
                
                
                >i{
                    font-size: 40px; margin-bottom: 40px;
                    color: #d0b7a5;
                }
                >h3{
                    font: 22px/1 '맑은 고딕'; color: #000;
                    margin-bottom: 20px;
                }
                >p{
                    font: 18px/1.2 '맑은 고딕'; color: #666;
                    margin-bottom: 30px;
                    height: 65px;
                }
                .line{
                    display: block;
                    width: 80px; height: 2px;
                    background: burlywood;
                    margin: 50px auto;
                    &::after{
                        content: ''; display: block; 
                        width: 10px; height: 2px;
                        background: burlywood;
                        position: relative; top: -3px; left: 72px;
                        transform: rotate(45deg);
                    }
                }
                &:nth-of-type(1){
                    border-left: 2px solid #f1e2d7;
                    span{font: 14px/1 'arial'; color: #222;}
                    p{
                        
                        &::after{display: none;}
                        &:nth-of-type(2){
                            font: 24px/1 'arial'; color: #222;
                            height: auto;
                            margin-bottom: 10px;
                        }
                    }
                }


            }
        }

        .searchbox{
            width: 100%; 
            background: #d0b7a5;
            padding: 30px 0px;
            margin-bottom: 100px;
            text-align: center;
            select{
                width: 200px; height: 50px;
                border: none;
                border: 2px solid #eee;
                margin-right: 5px;
                font: 15px/50px 'arial'; color: #000;
            }
            label{
                i{
                    font-size: 20px;
                    position: relative; left: 40px; top: 4px;
                }
                input{
                    width: 600px; height: 50px;
                    border: 2px solid #eee;
                    vertical-align: top;
                    padding-left: 80px;
                    
                }
            }
            

        }
        .table{
            width: 100%;
            margin-bottom: 80px;
            table{
                width: 100%;
                border-top: 2px solid #222;
                border-collapse:collapse;
                thead{
                    tr{
                        th{
                            height: 50px;
                            padding: 10px 30px;
                            text-align: center;
                            font: bold 18px/1 '맑은 고딕'; color: #000;
                            border-bottom: 1px solid #222;

                            &:nth-of-type(1){width: 150px;}
                            &:nth-of-type(2){width: 600px;text-align: left;}
                            &:nth-of-type(3), &:nth-of-type(4){width: 200px;}       
                            
                           
                        }
                                     
                    }
                }

                tbody{
                    tr{
                        td{
                            height: 100px;
                            padding: 10px 30px;
                            text-align: center;
                            font: 20px/1 '맑은 고딕'; color: #000;
                            border-bottom: 1px solid #eee;

                            &:nth-of-type(2){text-align: left;}

                            a{
                                font: 20px/1 '맑은 고딕'; color: #000;
                            }

                        }
                        &:hover{
                            td{background: #eee;}
                            
                        }
                    }
                }
            }
        }

        .pagination{
            text-align: center;
            margin-bottom: 150px;
            >ul{
                display: inline-block;
                font-size: 0;

                &:nth-of-type(1){text-align: right;}
                &:nth-of-type(3){text-align: left;}
                &:nth-of-type(odd){
                    li{
                        a{
                            i{
                                font-size: 15px;
                                color: #ccc;}
                        }
                    }
                }

                li{
                    display: inline;
                    a{
                        display: inline-block;
                        width: 43px; height: 43px;
                        font: 20px/43px 'arial';
                        color: #343434;
                        margin-left: 4px;
                    }                
                }
            }

            .pgnumb{
                margin: 0 20px;
                li{
                    &:hover a{
                        border-radius: 22px;
                        background-color: #343434;
                        color: #fff;
                    }
                }

            }
        }

        
            
        .helpbox{
            width: 100%; height: 300px;
            background: url(../../img/help.jpg) no-repeat bottom;
            background-size: cover;
            filter: grayscale(20%);
            margin-bottom: 120px;
            padding: 80px 40px;
            .txtbox{
                h2{
                    font: 30px/1 'arial'; color:#fff;
                    margin-bottom: 20px;
                }
                p{
                    font: 18px/1.2 'arial'; color: #ddd;
                    margin-bottom: 40px;

                    a{
                        display: inline-block;
                        width: 126px;
                        color: #ddd;
                        border-bottom: 1px solid #ddd;

                    }
                }
                i{
                    font-size: 20px; color: #fff;
                    margin-right: 10px;
                }
            }
        }
        
        
    }
}