.community{
    width: 100%;
    
    .inner{
        width: 1180px; 
        margin: 0 auto;
        margin-bottom: 200px;

        h1{
            font: 50px/1 'arial'; color: #000; 
            text-align: center;
        }
        p{
            font: 25px/1 '맑은 고딕'; color: #222;
            text-align: center;
            margin-bottom: 80px;
        }

        .box{
            margin-bottom: 80px;
            form{
                text-align: right;
                position: relative;
                select{
                    width: 120px; height: 50px;
                    border: none;
                    border-bottom: 2px solid #000;
                    margin-right: 5px;
                    font: 15px/50px 'arial'; color: #000;
                }
                label{
                    i{
                        font-size: 20px;
                        position: relative; left: 20px; top: 5px;
                    }
                    input{
                        width: 360px; height: 50px;
                        border: none;
                        border-bottom: 2px solid #000;
                        padding-left: 60px;
                        
                    }
                }
                
                
            }

        }
        .table{
            width: 100%;
            margin-bottom: 80px;
            table{
                width: 100%;
                border-top: 1px solid #222;
                border-collapse:collapse;
                thead{
                    tr{
                        th{
                            height: 50px;
                            padding: 10px 30px;
                            text-align: center;
                            font: bold 18px/1 '맑은 고딕'; color: #000;
                            border-bottom: 1px solid #888;

                            &:nth-of-type(1){width: 150px;}
                            &:nth-of-type(2){width: 600px;text-align: left;}
                            &:nth-of-type(3), &:nth-of-type(4){width: 200px;}       
                            
                           
                        }
                                     
                    }
                }

                tbody{
                    tr{
                        td{
                            height: 100px;
                            padding: 10px 30px;
                            text-align: center;
                            font: 20px/1 '맑은 고딕'; color: #000;
                            border-bottom: 1px solid #888;

                            &:nth-of-type(2){text-align: left;}

                            a{
                                font: 20px/1 '맑은 고딕'; color: #000;
                            }

                        }
                        &:hover{
                            td{background: #eee;}
                            
                        }
                    }
                }
            }
        }

        .pagination{
            text-align: center;

            >ul{
                display: inline-block;
                font-size: 0;

                &:nth-of-type(1){text-align: right;}
                &:nth-of-type(3){text-align: left;}
                &:nth-of-type(odd){
                    li{
                        a{
                            i{
                                font-size: 15px;
                                color: #ccc;}
                        }
                    }
                }

                li{
                    display: inline;
                    a{
                        display: inline-block;
                        width: 43px; height: 43px;
                        font: 20px/43px 'arial';
                        color: #343434;
                        margin-left: 4px;
                    }                
                }
            }

            .pgnumb{
                margin: 0 20px;
                li{
                    &:hover a{
                        border-radius: 22px;
                        background-color: #343434;
                        color: #fff;
                    }
                }

            }
        }
    }
}