.community{
    width: 100%;
    
    .inner{
        width: 1180px; 
        margin: 0 auto;

        h1{
            font: 50px/1 'arial'; color: #000; 
            text-align: center;
        }
        p{
            font: 25px/1 '맑은 고딕'; color: #222;
            text-align: center;
            margin-bottom: 80px;
        }

        .box{
            margin-bottom: 80px;
            form{
                text-align: right;
                select{
                    width: 120px; height: 50px;
                    border: none;
                    border-bottom: 2px solid #000;
                    margin-right: 5px;
                }
                input{
                    width: 360px; height: 50px;
                    border: none;
                    border-bottom: 2px solid #000;
                    padding-left: 20px;
                }
            }

        }
        .table{
            width: 100%;
            table{
                width: 100%;

                thead{
                    tr{
                        th{
                            height: 50px;
                            padding: 10px 30px;
                            text-align: center;
                            font: 18px/1 '맑은 고딕'; color: #000;
                        
                            &:nth-of-type(1){width: 150px;}
                            &:nth-of-type(2){width: 600px;text-align: left;}
                            &:nth-of-type(3), &:nth-of-type(4){width: 200px;}            
                        }                
                    }
                }

                tbody{
                    tr{
                        td{
                            height: 100px;
                            padding: 10px 30px;
                            text-align: center;
                            font: 20px/1 '맑은 고딕'; color: #000;

                            &:nth-of-type(2){text-align: left;}

                            a{
                                font: 20px/1 '맑은 고딕'; color: #000;
                            }
                        }
                    }
                }
            }
        }

        .pagination{
            ul{
                li{
                    display: inline;
                }
            }
        }
    }
}