.department{
    width: 100%;

    .inner{
        width: 1180px; margin: 0 auto;

        .about1{
            width: 100%; height: 600px;
            padding: 40px;
            position: relative;
            margin-bottom: 100px;
            
            .pic{ 
                width: 350px; height: 450px;
                img{width: 100%; height: 100%; object-fit: cover;}
            }
            .txt{
                width: 450px;
                position: absolute; top: 140px; right: 230px; 
                span{
                    display: inline-block;
                    font: 6px/1 'arial'; color: #000;
                    transform: rotate(-90deg);
                    position: absolute; left: -22px; top: 6px;
                    letter-spacing: 1px;
                }
                h2{
                    font: 30px/1 'arial'; color: #000; 
                    margin-bottom: 20px;
                    margin-top: 60px;

                    &::before{
                        content: ''; display: block;
                        width: 2px; height: 30px;
                        background: #222;
                        position: absolute; top: -60px; left: 6px;
                    }
                }
                p{font: 20px/1.2 'arial'; color: #888;}
            }
        }
        
        .members{
            width: 100%; height: 450px;
            position: relative;
            margin-bottom: 200px;
            background: #eee;
            display: flex; 
            justify-content: flex-end;
            

            &::before{
                content: ''; display: block;
                width: 100%; height: 450px; background: #eee;
                position:absolute;
                left: 100%;
            }
            
            .pic{
                width: 250px; height: 340px;
                margin-left: 30px; 
                margin-top: 40px;
                
                img{
                    width: 100%; height: 100%; 
                    object-fit: cover;                     
                    object-position: center center;
                    filter: grayscale(80%); transition: 0.5s;
                }
                &:hover img{filter: grayscale(0%);}
            }
            .dpbox{
                width: 280px; height: 250px;
                border: 2.5px solid #000;
                padding: 28px;
                position: absolute;
                top: -40px; left: -50px;

                p{
                    font: 30px/1.2 'arial'; color: #000;
                }
            }
            .dptxt{
                width: 280px; height: 100px;
                position: absolute; top: 230px; left: 40px;

                p{
                    font: 16px/1.2 'arial'; color: #000;
                }
            }
            
        }
        .about2{
            width: 100%;
            margin-bottom: 100px;

            &::after{content: ''; display: block; clear: both;}
            article{
                width: 380px; height: 200px;
                padding: 20px 0px;          
                float: left;
                &:nth-of-type(1){
                    height: 400px; margin-right: 80px;
                    h2{
                        font: 30px/1 'arial'; color: #000;
                        margin-bottom: 20px;
                    }
                    p{
                        font: 20px/1.2 'arial'; color: #000;
                    }
                }
                &:nth-of-type(2), &:nth-of-type(3){
                    width: 340px;
                    
                    i{
                        font-size: 40px; color: #bbb;
                        margin-bottom: 20px;
                    }
                    p{font: 20px/1 'arial'; color: #000;}
                }
                &:nth-of-type(4){
                    width: 680px; height: 200px;
                    padding-top: 40px;
                    p{font: 18px/1 'arial'; color: #888;}
                }
            }
        }

        
    }

}


@media screen and (max-width:1179px){


    .department{
        .inner{
            width: 100%;
            .about1{
                height: 500px;
                padding: 0 20px;
                .pic{width: 280px; height: 400px;}
                .txt{
                    position: absolute; top: 120px; left: 320px; 
                    p{width: 340px;}
                }
            }
            .members{
                height: auto;
                margin-bottom: 100px;
                padding: 20px;
                &::before{display: none;}
                
                .pic{
                    width: 200px; height: 320px;
                    margin-left: 0px; 
                }
                .dpbox{
                    width: 220px; height: 320px;
                    padding: 10px;
                    top: 60px; left: 20px;
                }
                .dptxt{
                    width: 200px;
                    top: 200px; left: 30px;
                }
                
            }
            .about2{
                padding: 0px 20px;
                article{
                    padding: 0px;          
                    
                    &::after{content: ''; display: block; clear: both;}
                    &:nth-of-type(1){
                        height: auto;
                        float: left;
                        margin-right: 0px;
                    }
                    &:nth-of-type(2), &:nth-of-type(3){
                        height: 120px; margin-bottom: 20px;
                        float: right;
                    }
                    &:nth-of-type(4){
                        width: 100%;
                        padding-top: 10px;
                       
                    }
                }
            }
    
            
        }
    }
   

}

@media screen and (max-width:870px){


    .department{
        .inner{
            
            .about1{
                .pic{width: 100%; height: 200px;}
                .txt{
                    width: 100%;
                    span{display: none;}
                    h2{
                        font: bold 20px/1 'arial';
                        &::before{display: none;}
                    }
                    position: static; 
                    p{font-size:15px ; width: 100%;}
                }
            }
            .members{
                width: 100%;
                display: block;
                &::after{content: ''; display: block; clear: both;}
                
                .pic{
                    width: 50%; height: 200px;
                    float: right;
                    margin-top: 0px; 
                }
                .dpbox{
                    width: 50%; height: 200px;
                    position: static;
                    float: left;
                }
                .dptxt{
                    width: 100%;
                    position: static;
                    float: left;
                    p{font-size: 15px; margin-top: 20px;}
                }
                
            }
            .about2{
                article{
                    padding: 0px;          
                    &::after{content: ''; display: block; clear: both;}
                    &:nth-of-type(1),&:nth-of-type(2),&:nth-of-type(3),&:nth-of-type(4){
                        p{font-size: 15px;}
                        width: 100%;
                        margin-bottom: 40px;
                    }

                    &:nth-of-type(1){
                        h2{font: bold 20px/1 'arial';}
                    }
                    &:nth-of-type(2), &:nth-of-type(3){
                        i{font-size: 30px;}
                        height: auto; 
                    }
                    &:nth-of-type(4){
                        padding-top: 0px;
                    }
                }
            }
    
            
        }
    }
   

}