.department{
    width: 100%;
    .sub_visual{
        width: 100%; height: 300px;
        position: relative;
        background-color: #000;
        
        >.pic{
            width: 100%; height: 100%;
            background: url(../img/slide.jpg) no-repeat;
            background-size: cover;
            background-position: top;
            opacity: 0.4;
        }
        >.txt{
            text-align: center;
            position: absolute; top: 50%; left: 50%;
            transform: translate(-50%, -50%);
            h1{
                font: 40px/1 'Cardo'; color: #fff; 
                text-align: center;
                margin-bottom: 10px;
    
                span{
                    font-size:15px; color: #fff;
                }
            }
            >p{
                font: 15px/1 'Cardo'; color: #fff;
            }
        }
    }
    .inner{
        width: 1180px; margin: 0 auto;
        .topbox{
            width: 100%; 
            border: 1px solid #ddd;
            background: #fff;
            margin-bottom: 100px;
            position: relative;
            top: -25px;
            
            ul{
                width: 100%; 
                display: flex; 
                
                li{
                    width: 200px; height: 50px;
                    border-right: 1px solid #ddd;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 0px 20px;
                    &:nth-of-type(1){
                        width: 60px; justify-content: center;
                        padding: 0px 0px;
                    }
                    &:nth-of-type(3){
                        border-bottom: 2px solid #222;
                        
                    }
                    p{color: #222;}
                    i{color: #ccc;}
                }
            }
        }
        >.txtbox{
            width: 50%;
            margin: 0 auto 200px;
            text-align: center;

            h2{
                font-size: 30px; color: #222;
                margin-bottom: 40px;
            }
            p{
                font-size: 14px; color: #222;
                line-height: 1.5;
            }
        }
        .concept{
            display: flex;
            margin-bottom: 40px;
            .title{
                width: 30%; 
                //border: 1px solid pink;
                h2{
                    font-size: 25px; color: #222;
                    
                }
            }
            .text{
                width: 70%; height: 150px;
                //border: 1px solid orange;
                padding: 10px 16px;

                p{
                    font-size: 16px; color: #222;
                    line-height: 1.4;
                }
            }
        }
        .process{
            margin-bottom: 40px;
            >.title{
                width: 100%;
                //border: 1px solid pink;
                h2{
                    font-size: 25px; color: #222;
                    margin-bottom: 20px;
                }
            }
            >.wrap{
                width: 100%; 
                //border: 1px solid orange;
                display: flex;
                flex-wrap: wrap;
                article{
                    width:380px; height:200px;
                    //border: 1px solid #000;
                    padding: 10px 20px;
                    display: flex;
                    margin-right: 20px;
                    &:nth-of-type(3n){margin-right: 0px;}
                    .picbox{
                        width: 30%; height: 100%;
                        //border: 1px solid orangered;
                        display: flex; 
                        align-items: center; 
                        justify-content: center;

                        i{
                            font-size: 40px; color: #ddd;
                        }
                    }
                    >.txtbox{
                        width: 70%; height: 100%;
                        //border: 1px solid orange;
                        padding: 5px 0px 0px 10px;
                        display: flex;
                        flex-wrap: wrap;

                        align-content: center;

                        h3{font-size: 15px; color: #222; margin-bottom: 5px;}
                        p{
                            font-size: 15px; color: #222;
                            line-height: 1.2;
                        }
                    }
                }

                
            }
        }
        
        .member{
            h2{
                font-size: 25px; color:#222;
            }
            >.pic{
                padding: 100px 80px;
                img{
                    width: 100%; height: 100%; object-fit: cover;
                }
            }

        }
    }

}


@media screen and (max-width:1179px){


    .department{
        .inner{
            width: 100%;
            .about1{
                height: 500px;
                padding: 20px 20px 0px;
                .pic{width: 280px; height: 400px;}
                .txt{
                    position: absolute; top: 120px; left: 320px; 
                    p{width: 340px;}
                }
            }
            .team{
                height: auto;
                margin-bottom: 100px;
                padding: 20px;
                &::before{display: none;}
                
                .pic{
                    width: 200px; height: 320px;
                    margin-left: 0px; 
                }
                .dpbox{
                    width: 220px; height: 320px;
                    padding: 10px;
                    top: 60px; left: 20px;
                }
                .dptxt{
                    width: 200px;
                    top: 200px; left: 30px;
                }
                
            }
            .about2{
                padding: 0px 20px;
                article{
                    padding: 0px;          
                    
                    &::after{content: ''; display: block; clear: both;}
                    &:nth-of-type(1){
                        height: auto;
                        float: left;
                        margin-right: 0px;
                    }
                    &:nth-of-type(2), &:nth-of-type(3){
                        height: 120px; margin-bottom: 20px;
                        float: right;
                    }
                    &:nth-of-type(4){
                        width: 100%;
                        
                       
                    }
                }
            }
    
            
        }
    }
   

}

@media screen and (max-width:870px){


    .department{
        .inner{
            
            .about1{
                .pic{width: 100%; height: 200px;}
                .txt{
                    width: 100%;
                    span{display: none;}
                    h2{
                        font: bold 20px/1 'Alegreya Sans';
                        &::before{display: none;}
                    }
                    position: static; 
                    p{font-size:15px ; width: 100%;}
                }
            }
            .team{
                width: 100%;
                display: block;
                &::after{content: ''; display: block; clear: both;}
                
                .pic{
                    width: 50%; height: 200px;
                    float: right;
                    margin-top: 0px; 
                }
                .dpbox{
                    width: 50%; height: 200px;
                    position: static;
                    float: left;
                }
                .dptxt{
                    width: 100%;
                    position: static;
                    float: left;
                    p{font-size: 15px; margin-top: 20px;}
                }
                
            }
            .about2{
                article{
                    padding: 0px;          
                    &::after{content: ''; display: block; clear: both;}
                    &:nth-of-type(1),&:nth-of-type(2),&:nth-of-type(3),&:nth-of-type(4){
                        p{font-size: 15px;}
                        width: 100%;
                        margin-bottom: 40px;
                    }

                    &:nth-of-type(1){
                        h2{font: bold 20px/1 'Alegreya Sans';}
                    }
                    &:nth-of-type(2), &:nth-of-type(3){
                        i{font-size: 30px;}
                        height: auto; 
                    }
                    &:nth-of-type(4){
                        padding-top: 0px;
                    }
                }
            }
    
            
        }
    }
   

}