#header_sub{
    width: 100%;
    border-bottom: 1px solid #ddd;

    .inner{
        width: 1180px;
        height: 100px;
        margin: 0 auto;
        position: relative;

        h1{
            position: absolute;
            top: 50%;
            left: 0px;
            transform: translateY(-65%);

            a{
                font: 22px/1 'arial'; color: #000;
            }

            
        }
        .gnb{
            position: absolute;
            top: 0;
            right:120px;

            &::after{
                content:''; display:block; clear:both; 
            }

            li{
                float: left;

                a{
                    display: block;
                    width: 140px;
                    height: 100px;
                    font: 15px/100px 'arial'; color: #222;
                    text-align: center;
                    position: relative;

                    &::after{
                        content: '';
                        display: block;
                        width: 1px;
                        height: 18px;
                        background: #ddd ;
                        position: absolute;
                        top: 50%;
                        right: 0;
                        transform: translateY(-50%);
                    }
                }
                &:last-child a::after{
                    display: none;
                }
            }

        }
        >a{
            display: block;
            width: 120px;
            height: 35px;
            border: 1px solid #ddd;
            border-radius: 20px;

            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            
            font: 15px/35px 'arial'; color: burlywood;
            text-align: center;
        }
    }
}