.location{
    .inner{
        width: 1180px;
        margin: 0 auto;
        .txt{
            width: 50%;
            h2{font: 60px/1 'arial'; color: #000;}
            p{font: 30px/1 'arial'; color: #222;}
        }
        
        .wrap{
            width: 100%;
            
            article{
                width: 300px;
                padding: 20px;
                
                i{font-size: 40px; color: #000;}
                h3{font-size: 20px; color: #000;}
                >p{font-size: 18px; color: #222;}
            }
        }
        .map{
            width: 100%; height: 500px;
        }

    }
}