
.members{
    width: 100%;
    margin-bottom: 240px;

    .inner{
        width: 1180px;
        min-height: 500px;
        margin: 0 auto;
        padding: 40px 0;

        h1{
            font: 40px/1 '맑은 고딕'; color:#000;
            text-align: center;
            margin-bottom: 80px;
        }
        
        form{
            fieldset{
                width: 80%;
                margin: 0 auto;
                margin-bottom: 80px;

                .title{
                    font: 20px/1 '맑은 고딕'; color: #000;
                    margin-bottom: 20px;
                    
                }

                table{
                    width: 100%;
                    border-top: 1px solid #222;
                    border-collapse: collapse;
                    
                    
                    tr{
                        width: 100%;
                        height: 60px;
                        border-bottom:1px solid #eee;

                        
                        th{
                            width: 20%;
                            padding: 10px 0px 10px 40px;
                            font: 14px/1 'arial';
                            text-align: left;

                            span{
                                color: orangered;
                            }
                        }
                        td{
                            width: 80%;
                            padding: 15px;

                            p{
                                font: 12px/1px '맑은 고딕';
                                margin-top: 20px;
                                
                            }
                            input{
                                width: 200px;
                                height: 28px;
                                padding-left: 10px;
                                font: 12px/28px 'arial';
                                
                            }
                        }

                        &:nth-of-type(1),&:nth-of-type(5){
                            td{
                                input:nth-of-type(1){
                                    margin-right: 8px;
                                }
                                input:nth-of-type(2){
                                    font: 12px/28px '맑은 고딕';
                                    width: 100px;
                                    vertical-align:middle;        
                                    padding-left:0px;                       
                                }
                            }
                           
                        }

                        &:nth-of-type(5){
                            td{
                                input:nth-of-type(3){
                                    width: 500px;
                                    margin-top: 8px;
                                    
                                }
                            }
                        }
                        &:nth-of-type(8){
                            td{
                                label{
                                    
                                    input{
                                        width: 15px;
                                        height: 15px;
                                        margin-right: 15px;
                                        vertical-align: middle;
                                                                            
                                    }
                                    font: 14px/15px '맑은 고딕';
                                    margin-right: 20px;
                                }
                            }
                        }
                            

                        
                    }
                }

                
            }

            .add{
                
                table{
                    tr{
                        &:nth-of-type(1){
                            td{
                                input{  text-align: right;}
                            }
                        }
                        &:nth-of-type(2){
                            td{
                                select{
                                    width: 200px; height: 28px;
                                    
                                    text-align: center;
                                }
                            }
                        }
                        &:nth-of-type(3){
                            td{
                                label{
                                    input{
                                        width: 15px; height: 15px;
                                        margin-right: 10px;
                                        vertical-align: middle;
                                    }
                                    margin-right : 20px;
                                    font: 14px/15px '맑은 고딕';
                                }                                
                            }
                        }
                        &:nth-of-type(4){
                            td{
                                input{
                                    width: 250px;
                                }
                            }
                        }
                        
                    }
                }
            }

            .agree{
                position: relative;
                height: 800px;
                .title{
                    display: block;
                    width: 100%;
                    border-bottom: 1px solid #222;
                    padding-bottom: 20px;
                }
                .join_box{
                    padding: 40px;
                    

                    .ckbox1{
                        width: 100%; height: 60px;
                        background: #ddd;
                        text-align: center;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-bottom: 40px;

                        label{
                            font: 18px/1 'arial'; color: #000;
                        }
                        input{
                            width: 20px; height: 15px; margin-left: 20px;
                        }
                    }

                    .ckbox2{
                        
                        p{font: 18px/1 'arial'; color: #000; margin-bottom: 20px;}
                        input{
                            width: 20px; height: 15px; margin-left: 20px;
                        }
                        textarea{
                            width: 100%; height: 140px; 
                            font: 16px/1.5 'arial'; color: #444;
                            padding: 0px 20px;
                            margin-bottom: 60px;
                        }
                    }



                }
            }
            
        }
    }

    
}