.youtube{
    .sub_visual{background: bisque;}
    .inner{
        width: 1180px;
        margin: 100px auto;
        
        h1{
            text-align: center;
            font: 40px/1 'arial'; color: #000;
            margin-bottom: 100px;
        }
        #vidgallery{
            width: 100%;

            
            
            article{
                width: 50%;
                
                border: 1px solid #000;
                margin-bottom: 40px;
                padding: 0 10px 0 0;
                display: flex;   
                cursor: pointer;         

                a{
                    width: 40%; 
                    height: 200px;
                    img{width: 100%; height: 100%; }
                    margin-right: 20px;
                }
                .con{
                    width: 55%; 
                    display: flex; 
                    flex-wrap: wrap;
                    align-items: center;

                    h2{font: 15px/1 'arial'; color: #000;}
                    p{font: 12px/1.2 'arial'; color: #222;}
                    span{font: 10px/1 'arial'; color: #222;}
                
                }
            }
        }

        
    }
    
}

.popVideo{
    position: fixed; top: 50%; left: 50%; transform: translate(-50%,-50%);
    width: 1000px; height: 500px;

    iframe{
        margin-bottom: 20px;
    }

    span{
        display: block; width: 80px; height: 50px;
        border: 1px solid #000;
        background: #000;
        font: 20px/50px 'arial'; color: #fff;
        cursor: pointer;
        position: absolute; top: 0px; right: -100px;
        text-align: center;
        border-radius:40px;
    }
}